@import 'vendor.scss';

/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    padding-top: 3rem;
    background-color: #EEEEEE; 
}

// section {

// }

.container {
    padding-right: 5px;
    padding-left: 5px;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

// h4 {

// }

/*list group*/

// .list-group .list-group-item {

// }

/* Login image properti*/
.image-login-style {
    width: 180px;
    padding-bottom: 20px;
    padding-top: 30px;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    min-height: 100vh;
}


/* Sidebar navigation */

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

// .nav .nav-item {
    
// }

.sidebar .nav .nav-item .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 14px;        
    font-style: normal;
}

.sidebar .nav .nav-item .active {
    color: #FFF;   
}

.sidebar .nav .nav-item .nav-link:hover {
    color: #e5e5e5;   
}


.agenda_kegiatan img {
    width: 215px;
}

/*
 * Navbar
 */

.navbar {
    background-color: #1976d2;
    box-shadow: 12px 0px 8px;
    
}

.navbar-brand {
    float: left;    
}

.nav-item .nav-link img {
    color: white;
    margin-right: 1.5rem;
    object-position: center;
    margin-bottom: 2px;
}

.nav-link .oi {
    margin-right: 1em;
}

.breadcrumb {
    background-color: #1976d2;
    font-size: 14px;
    line-height: 5px;
    height: 5px;  
}

ol.breadcrumb li a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
}

ol.breadcrumb .active {
    color: #FFFFFF;
}

ol.breadcrumb li a:hover {
    color: #FFFFFF;   
}

.breadcrumb .breadcrumb-item::before {
    color: rgba(255,255,255,.5);
}

.card {
    box-shadow: 0px 3px 6px #C3C3C3;
    list-style: none;
}

.card-padding {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


/*
 * Dashboard
 */

.material-icons {
    margin-right: 1.5rem;
    object-position: center;
    color: rgba(255, 255, 255, 1);
}

/*
 *  Tabel batas desa warna icon dan spec
 */

.village-border-table .verifikasi {
    color: #078D4A;
    margin: auto;
}

.village-border-table .verifikasi .oi {
    color: #078D4A;
    margin: auto;
}

.village-border-table .penetapan {
    color: #004BC3;
    margin: auto;
}

.village-border-table .penetapan .oi {
    color: #004BC3;
    margin: auto;
}

/*header map*/

.kartu_map img {
    margin-top: 0.5rem;
} 

.kartu_map .button {
    float: right;
}

/*Listgroup*/

// .list-group {
    
// }

/* Placeholders */

.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media(max-width:980px){
    #navbarsMenu {
        display: none;
    }
}

/*indikator dashboard permasalahan agraria*/

.centered {
    position: absolute;
    color: azure;
    font-size: 50px;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*spin css table*/

.spin-icon {
animation-name: spin;
width: 32px;
animation: spin 1100ms linear both;
}

/* Generated with Bounce.js. Edit at https://goo.gl/KRVw6Y */

  @keyframes spin { 
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.76% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    7.81% { transform: matrix3d(0.525, 0.851, 0, 0, -0.851, 0.525, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.77% { transform: matrix3d(-0.12, 0.993, 0, 0, -0.993, -0.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.68% { transform: matrix3d(-0.783, 0.622, 0, 0, -0.622, -0.783, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    22.68% { transform: matrix3d(-0.954, 0.299, 0, 0, -0.299, -0.954, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.6% { transform: matrix3d(-0.991, 0.137, 0, 0, -0.137, -0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    40.51% { transform: matrix3d(-1, 0.027, 0, 0, -0.027, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.43% { transform: matrix3d(-1, 0.005, 0, 0, -0.005, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  
.back-spin {
    animation-name: back-spin;
    animation: back-spin 1100ms linear both;
    width: 32px;
  }
  
  /* Generated with Bounce.js. Edit at https://goo.gl/1ULDyA */

  @keyframes back-spin { 
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.76% { transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    7.81% { transform: matrix3d(-0.525, 0.851, 0, 0, -0.851, -0.525, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.77% { transform: matrix3d(0.12, 0.993, 0, 0, -0.993, 0.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.68% { transform: matrix3d(0.783, 0.622, 0, 0, -0.622, 0.783, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    22.68% { transform: matrix3d(0.954, 0.299, 0, 0, -0.299, 0.954, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.6% { transform: matrix3d(0.991, 0.137, 0, 0, -0.137, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    40.51% { transform: matrix3d(1, 0.027, 0, 0, -0.027, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.43% { transform: matrix3d(1, 0.005, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }


/*text size*/

.table-subject {
    font-size: 12px;
}

.table-object {
    font-size: 12px;
}

.navObjekSubjek {
    font-size: 14px;
}

/* end text size */

// table size and style
.navbarSubjectTable {
    box-shadow: none;
}

// table style

table, td, th {    
    
}

.table-region table {
    border-collapse: collapse;
    
}

table#table-region td {
    padding-right: 45px !important
}

table#table-region th {
    padding-right: 10px !important
}

.table-object-subject {
    font-size: 14px;
}



// loader animation

/* Center the loader */
#loader {
  //position: absolute;
  //margin: 70px 600px 70px 600px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 50%;
  right: 50%;
  bottom: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  //margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}


// pointer

.btn {
    cursor: pointer;
}


// vertical line

.Vline {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 80px;
    position: absolute;
    left: 24%;
    
}

// header indicator

.header-list-problem, .header-list-object {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.header-list-problem h2 {
    color: #FF0058;
    
}

.header-list-problem p {
    
    
}

.header-list-object h2 {
    color: #4835E8;
    

}

.header-list-large h2 {
    color: rgb(54, 160, 9);
    

}

.header-list-problem .header-list-object p {
   margin-top: 20px;
}
