<!-- Modal add new objek dan subjek table -->
<div class="modal-header">
    <h4 class="modal-title">Form Objek dan Subjek TORA</h4>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form class="was-validated" (ngSubmit)="onFormSubmit()">
        <ul class="nav nav-tabs tabObjectSubject" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="object-tab" data-toggle="tab" href="#formObject" role="tab" aria-controls="formObject" aria-selected="true">Objek</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="subject-tab" data-toggle="tab" href="#formSubject" role="tab" aria-controls="formSubject" aria-selected="false">Subjek</a>
            </li>
        </ul>

        {{ toraObject | json }}

        <div class="tab-content" id="myTabContent">
            <!-- Tab Tora Object -->
            <div class="tab-pane fade show active" id="formObject" role="tabpanel" aria-labelledby="object-tab">
                <h5 class="pt-3">Data Utama</h5>
                <div class="form-row pt-2">
                    <div class="form-group col-md-8">
                        <label for="inputName">Nama Lokasi</label>
                        <input type="Text" class="form-control is-invalid" id="inputName" placeholder="Nama Lokasi" required [(ngModel)]="toraObject.name"
                            name="editName">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="ddlDesa">Desa</label>
                        <input type="text" disabled class="form-control" [value]="desa?.name" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ddlKecamatan">Kecamatan</label>
                        <input type="text" disabled class="form-control" [value]="kecamatan?.name" />
                    </div>
                    <div class="fieldset disabled form-group col-md-4">
                        <label for="disabledSelect">Kabupaten</label>
                        <input type="text" disabled class="form-control" [value]="kabupaten?.name" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputSize">Luas Wilayah Objek</label>
                        <input type="Text" class="form-control" id="inputSize" placeholder="Ha" required [(ngModel)]="toraObject.size" name="editSize">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlRegionalStatus">Status Kawasan</label>
                        <select class="form-control" id="ddlRegionalStatus" required [(ngModel)]="toraObject.regionalStatus" name="regionalStatus">
                            <option [ngValue]="null">Pilih Status Kawasan</option>
                            <option [ngValue]="RegionalStatus.Forest">{{RegionalStatus[RegionalStatus.Forest] | translate}}</option>
                            <option [ngValue]="RegionalStatus.NonForest">{{RegionalStatus[RegionalStatus.NonForest] | translate}}</option>
                            <option [ngValue]="RegionalStatus.NotSpecified">{{RegionalStatus[RegionalStatus.NotSpecified] | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputLandTye">Klasifikasi Bentang Lahan</label>
                        <input type="Text" class="form-control" id="inputLandTye" placeholder="Perbukitan, pegunungan" required [(ngModel)]="toraObject.landType"
                            name="editLandType">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputLivelihood">Tipe Penggunaan Lahan</label>
                        <textarea class="form-control" id="inputLivelihood" rows="3" placeholder="Tipe penggunaan lahan" required [(ngModel)]="toraObject.livelihood"
                            name="editLivelihood"></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputProposedTreatment">Usulan Skema</label>
                        <input type="Text" class="form-control" id="inputProposedTreatment" placeholder="TORA, Pelepasan Kawasan Hutan" required
                            [(ngModel)]="toraObject.proposedTreatment" name="editProposedTreatment">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ddlStages">Tahapan</label>
                        <select class="form-control" id="ddlStages" required [(ngModel)]="toraObject.stages" name="stages">
                            <option [ngValue]="null">Pilih Tahapan</option>
                            <option [ngValue]="0">Usulan</option>
                            <option [ngValue]="1">Verifikasi</option>
                            <option [ngValue]="2">Penetapan</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="uploadMapCoordinate">Unggah Koordinat Peta</label>
                        <label class="custom-file">
                            <input type="file" class="custom-file-input" id="uploadMapCoordinate" aria-describedby="uploadHelpBlock" required>
                            <small id="uploadHelpBlock" class="form-text text-muted">
                                File Ms.Excel (.xl .xls)
                            </small>
                            <span class="custom-file-control text-muted">Unggah Peta</span>
                        </label>
                    </div>
                </div>

                <hr>

                <h5 class="pt-3">Data Pendukung</h5>
                <div class="form-row pt-2">
                    <div class="form-group col-md-4">
                        <label for="ddlLandStatus">Status Tanah</label>
                        <select class="form-control" id="ddlLandStatus" required [(ngModel)]="toraObject.landStatus" name="landStatus">
                            <option [ngValue]="null">Pilih Status Tanah</option>
                            <option [ngValue]="LandStatus.Government">{{LandStatus[LandStatus.Government] | translate}}</option>
                            <option [ngValue]="LandStatus.Private">{{LandStatus[LandStatus.Private] | translate}}</option>
                            <option [ngValue]="LandStatus.Gift">{{LandStatus[LandStatus.Gift] | translate}}</option>
                            <option [ngValue]="LandStatus.Inheritance">{{LandStatus[LandStatus.Inheritance] | translate}}</option>
                            <option [ngValue]="LandStatus.Others">{{LandStatus[LandStatus.Others] | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-8 text-muted">
                        <label for="inputAdditionalInfo">*Data Tambahan</label>
                        <input type="Text" class="form-control" id="inputAdditionalInfo" placeholder="Data Tambahan">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputLandTenureHistory">Sejarah Penguasaan Tanah</label>
                        <textarea class="form-control" id="inputLandTenureHistory" rows="6" required [(ngModel)]="toraObject.landTenureHistory" name="editLandTenureHistory"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputChronologyConflict">
                            Kronologi Konflik
                            <label class="text-muted">*(Jika ada)</label>
                        </label>
                        <textarea class="form-control" id="inputChronologyConflict" rows="3" [(ngModel)]="toraObject.conflictChronology" name="editConflictChronology"></textarea>
                    </div>
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-12 mb-auto">
                            <label for="progresLangkahAdvokasi">Progres Langkah Advokasi:</label>
                        </div>

                        <div class="form-group col-md-6 text-muted">
                            <label for="inputFormalAdvocacyProgress">a. Formal</label>
                            <textarea class="form-control" id="inputFormalAdvocacyProgress" rows="3" [(ngModel)]="toraObject.formalAdvocacyProgress"
                                name="editFormalAdvocacyProgress"></textarea>
                        </div>

                        <div class="form-group col-md-6 text-muted">
                            <label for="inputNonFormalAdvocacyProgress">b. Non Formal</label>
                            <textarea class="form-control" id="inputNonFormalAdvocacyProgress" rows="3" [(ngModel)]="toraObject.nonFormalAdvocacyProgress"
                                name="editNonFormalAdvocacyProgress"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Batal</button>
                    </div>
                </div>
            </div>

            <!-- Tab Tora Subjek -->
            <div class="tab-pane fade" id="formSubject" role="tabpanel" aria-labelledby="subject-tab">
                <div class="form-row pt-2">
                    <div class="form-group col-md-12" style="overflow:scroll; height:300px">
                        <table class="table table-bordered table-striped table-sm table-subject table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Status Pernikahan</th>
                                    <th scope="col">Alamat</th>
                                    <th scope="col">Jenis Kelamin</th>
                                    <th scope="col">Umur</th>
                                    <th scope="col">Pendidikan</th>
                                    <th scope="col">Jumlah Keluarga</th>
                                    <th scope="col">Status Tanah</th>
                                    <th scope="col">Lokasi Lahan Garapan</th>
                                    <th scope="col">Luas (ha)</th>
                                    <th scope="col">Jenis Tanaman</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let subject of toraSubjects; let i = index">
                                <tr>
                                    <th scope="row" id="">{{i + 1}}</th>
                                    <td>
                                        <font size="1">{{subject.name}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{MaritalStatus[subject.maritalStatus] | translate}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{subject.address}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{Gender[subject.gender] | translate}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{subject.age}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{EducationalAttainment[subject.educationalAttainment] | translate}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{subject.totalFamilyMembers}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{LandStatus[subject.landStatus] | translate}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{subject.landLocation}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{subject.size}}</font>
                                    </td>
                                    <td>
                                        <font size="1">{{subject.plantTypes}}</font>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-link" (click)="onToraSubjectSelected(subject)">
                                            <span class="oi oi-pencil" title="Edit"></span>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-link" (click)="onToraSubjectDeleted(subject)">
                                            <span class="oi oi-trash" title="Delete"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Name">Nama</label>
                        <input type="text" class="form-control" id="subjekName" aria-describedby="nameHelp" placeholder="Masukan Nama" [(ngModel)]="toraSubject.name"
                            name="name">
                        <small id="namelHelp" class="form-text text-muted"></small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="status-pernikahan">Status Pernikahan</label>
                        <select id="inputState" class="form-control" [(ngModel)]="toraSubject.maritalStatus" name="maritalStatus">
                            <option [ngValue]="null">Pilih Status Pernikahan</option>
                            <option [ngValue]="0">{{MartialStatus.Single | translate}}</option>
                            <option [ngValue]="1">{{MaritalStatus.Married | translate}}</option>
                            <option [ngValue]="2">{{MaritalStatus.Divorced | translate}}</option>
                            <option [ngValue]="3">{{MaritalStatus.NotSpecified | translate}}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="formSubjectAlamat">Alamat</label>
                        <textarea class="form-control" id="formSubjectAlamat" rows="3" [(ngModel)]="toraSubject.address" name="address"></textarea>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="jenisKelamin">Jenis Kelamin</label>
                        <select id="inputState" class="form-control" [(ngModel)]="toraSubject.gender" name="gender">
                            <option [ngValue]="null">Pilih Jenis Kelamin</option>
                            <option [ngValue]="Gender.Male">{{Gender[Gender.Male] | translate}}</option>
                            <option [ngValue]="Gender.Female">{{Gender[Gender.Female] | translate}}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="umur">Umur</label>
                        <input type="text" class="form-control" id="formSubjectUmur" aria-describedby="umurHelp" placeholder="Masukan umur" [(ngModel)]="toraSubject.age"
                            name="age">
                        <small id="umurlHelp" class="form-text text-muted"></small>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="pendidikan">Pendidikan</label>
                        <select id="inputState" class="form-control" [(ngModel)]="toraSubject.educationalAttainment" name="educationalAttainment">
                            <option [ngValue]="null">Pilih Jenjang Pendidikan</option>
                            <option [ngValue]="EducationalAttainment.Uneducated">{{EducationalAttainment[EducationalAttainment.Uneducated] | translate}}</option>
                            <option [ngValue]="EducationalAttainment.ElementarySchool">{{EducationalAttainment[EducationalAttainment.ElementarySchool] | translate}}</option>
                            <option [ngValue]="EducationalAttainment.JuniorHighSchool">{{EducationalAttainment[EducationalAttainment.JuniorHighSchool] | translate}}</option>
                            <option [ngValue]="EducationalAttainment.SeniorHighSchool">{{EducationalAttainment[EducationalAttainment.SeniorHighSchool] | translate}}</option>
                            <option [ngValue]="EducationalAttainment.BachelorDegree">{{EducationalAttainment[EducationalAttainment.BachelorDegree] | translate}}</option>
                            <option [ngValue]="EducationalAttainment.MasterDegree">{{EducationalAttainment[EducationalAttainment.MasterDegree] | translate}}</option>
                            <option [ngValue]="EducationalAttainment.DoctorateDegree">{{EducationalAttainment[EducationalAttainment.DoctorateDegree] | translate}}</option>
                            <option [ngValue]="EducationalAttainment.Others">{{EducationalAttainment[EducationalAttainment.Others] | translate}}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="jumlahAnggotaKeluarga">Jumlah Keluarga</label>
                        <input type="text" class="form-control" id="formSubjectAnggotaKeluarga" aria-describedby="anggotaKeluargaHelp" placeholder="Masukan jumlah keluarga"
                            [(ngModel)]="toraSubject.totalFamilyMembers" name="totalFamilyMembers">
                        <small id="pendidikanHelp" class="form-text text-muted"></small>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="statusTanah">Status Tanah</label>
                        <input type="text" class="form-control" id="formSubjectStatusTanah" aria-describedby="statusTanahHelp" placeholder="Masukan status tanah"
                            [(ngModel)]="LandStatus[toraSubject.landStatus]" name="landStatus">
                        <small id="statusTanahHelp" class="form-text text-muted"></small>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="lokasiLahanGarapan">Lokasi Lahan Garapan</label>
                        <textarea class="form-control" id="formSubjectLokasiLahanGarapan" rows="3" [(ngModel)]="toraSubject.landLocation" name="landLocation"></textarea>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="Luas">Luas</label>
                        <input type="text" class="form-control" id="formSubjectLuas" aria-describedby="luasHelp" placeholder="Luas" [(ngModel)]="toraSubject.size"
                            name="size">
                        <small id="statusTanahHelp" class="form-text text-muted"></small>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="Luas">Jenis Tanaman</label>
                        <input type="text" class="form-control" id="formSubjectJenisTanaman" aria-describedby="jenisTanamanHelp" placeholder="Masukan jenis tanaman"
                            [(ngModel)]="toraSubject.plantTypes" name="plantTypes">
                        <small id="jenisTanamanHelp" class="form-text text-muted"></small>
                    </div>

                    <div class="form-group col-md-8">
                        <button type="button" class="btn btn-primary">Simpan Data Subjek</button>
                        <button type="button" class="btn btn-secondary">Clear Data</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<!-- End Modal Body-->