<form class="form-horizontal" (ngSubmit)="onFormSubmit()" id="download-form">
    <div class="modal-content" style="border-radius: 0">
        <div class="modal-header">
            <h5 class="modal-title">Unduh Peta TORA</h5>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="search">Lokasi</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="selected" [typeahead]="dataSource" [typeaheadMinLength]="3" [typeaheadItemTemplate]="searchRegionTemplate"
                            typeaheadOptionField="label" (typeaheadOnSelect)="onSearchSelected($event)" name="search" autocomplete="off"
                            class="typehead form-control mr-sm-2" type="text" placeholder="Cari Lokasi" aria-label="Search">
                    </div>
                </div>      
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="toraMap">Peta TORA</label>
                    <div class="col-md-9">
                        <select class="form-control" [disabled]="!toraMaps.length === 0" [(ngModel)]="model.toraMap"
                            name="toraMap">
                            <option *ngFor="let toraMap of toraMaps" [ngValue]="toraMap">{{toraMap.name}}</option>
                        </select>
                    </div>
                </div>              
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="!model.toraMap" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Unduh</button>
        </div>
    </div>
</form>

<ng-template #searchRegionTemplate let-model="item" let-index="index">
    <div>
        <span>{{ model.label }}</span>
        <span style="font-size:0.6rem;" *ngIf="model.type === 0"><i>Kabupaten</i></span>
        <span style="font-size:0.6rem;" *ngIf="model.type === 1"><i>Kecamatan</i></span>
        <span style="font-size:0.6rem;" *ngIf="model.type === 2"><i>Desa</i></span>
    </div>
</ng-template>