<div class="card w-100">
        <div class="card-body">
            <h4 class="card-title">List permaslahan Agraria</h4>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nama Lokasi</th>
                                <th>Penggarap</th>
                                <th>Status Tanah</th>
                                <th>Usulan Skema</th>
                                <th>Koordinat</th>
                                <th>Presentase Penyelesaian</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#">Hibula</a></td>
                                <td>4 KK</td>
                                <td>Ada kebun warga</td>
                                <td class="text-success">Pelepasan kawasan hutan</td>
                                <td>sit</td>
                                <td><div class="progress" style="width:95%"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%; height: 15px">80%</div></div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Higira</td>
                                <td>9 KK</td>
                                <td>Taluran Terbatas dengan hutan</td>
                                <td class="text-success">Hutan Adat</td>
                                <td>koordinat</td>
                                <td><div class="progress" style="width:95%"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; height: 15px">75%</div></div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
        </div>
    </div>