<div class="card w-100">
        <div class="card-body">
                <h4 class="card-title"></h4>
            <h6 class="card-subtitle mb-2 text-muted"></h6>

            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 header-list-problem text-center">
                    <h2 class="display-4">0</h2>        
                    <p class="lead">Jumlah Subjek</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 header-list-object text-center">
                    <h2 class="display-4">{{totalObjects | number}}</h2>
                    <p class="lead">Jumlah Objek</p>
                </div>

                <div class="col-md-4 col-sm-12 header-list-large text-center">
                    <h2 class="ml-3 display-4">{{totalSize | number}} <small>ha</small></h2>
                    <p class="lead">Jumlah Luas</p>  
                </div>
               
            </div>

            
            
            <!-- <div class="row">
                <div class="col-6 col-md-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Desa Bora</h5>
                            <p class="card-text">Kecamatan :</p>
                            Sigi Biromaru
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-secondary">Luas</div>
                        <div class="card-body bg-light">
                            <h5 class="card-title"></h5>
                            <h5 class="card-text">10.000 ha</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-danger">Total Permasalahan</div>
                        <div class="card-body">
                            
                        <section class="container text-center">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                            <div class="centered">20</div>
                        </section>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-success">Total Penyelesaian</div>
                        <div class="card-body bg-light">
                        <canvas id="myChart"></canvas>
                            <div class="text-muted text-center">73%</div>
                        </div>
                    </div>
                </div>
            </div>                     -->

        </div>
    </div>