<div class="card w-100">
        <div class="card-body">
            <h4 class="card-title">List permaslahan Agraria</h4>
                <div class="table-responsive">
                    <table class="table table-responsive table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nama Lokasi</th>
                                <th>Penggarap</th>
                                <th>Status Tanah</th>
                                <th>Usulan Skema</th>
                                <th>Koordinat</th>
                                <th>Tahapan</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                                <td><input type="checkbox"></td>
                                <td data-toggle="collapse" data-target="#accordion" class="clickable"><a href="#">Hibula</a></td>
                                <td >4 KK</td>
                                <td>Ada kebun warga</td>
                                <td class="text-success">Pelepasan kawasan hutan</td>
                                <td>sit</td>
                                <td>Penetapan</td>
                            </tr>
                            <tr>
                                    <td colspan="12">
                                        <div id="accordion" class="collapse">
                                       
                                        <table class="table table-responsive-sm table-bordered bg-light">
                                        <caption><button type="button" class="btn btn-primary"><span class="oi oi-print" style="margin-right: 10px;"></span>Print</button></caption>
                                          <thead>
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col" colspan="2">Informasi Umum</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Nama Lokasi</td>
                                              <td>Hibula</td>
                                              
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Desa</td>
                                              <td>Otto</td>
                                             
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>kecamatan</td>
                                              <td>Sigi Biromaru</td>
                                              
                                            </tr>
                                            <tr>
                                              <th scope="row">4</th>
                                              <td>Kabupaten/Provinsi</td>
                                              <td>Sigi</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Luas Wilayah Objek</td>
                                              <td>15 Ha</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Jumlah Penggarap</td>
                                              <td>19 KK</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Status Kawasan</td>
                                              <td>Tahura perbatasan dengan Hutan Lindung</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Klasifikasi bentang Lahan</td>
                                              <td>Pegunungan</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Tipe Penggunaan Lahan</td>
                                              <td>Kebun</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Usulan Skema</td>
                                              <td>Hutan Adat</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Tahapan</td>
                                              <td>Verifikasi</td>
                                            </tr>
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col" colspan="2">Data Pendukung</th>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Status Tanah</td>
                                              <td>Tahura Perbatasan dengan hutan lindung</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Sejarah Penguasaan Tanah</td>
                                              <td>Higira adalah pemukiman masyrakat pada zaman dulu. Hal tersebut dapat dibuktikan dengan adanya kuburan tua tempat dimakamkanya orang tua dulu. Tanah yang ada dikawasan tersebut yang dulunya telah dibuka oleh masyarakat yang dulu diwariskan sampai sekarang pada anak turunannya.</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Kronologi Konflik</td>
                                              <td>-</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Progres Langkah Advokasi</td>
                                              <td>-</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Koordinat PETA</td>
                                              <td>Image</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </div>
                                    </td>
                                </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Higira</td>
                                <td>9 KK</td>
                                <td>Taluran Terbatas dengan hutan</td>
                                <td class="text-success">Hutan Adat</td>
                                <td>koordinat</td>
                                <td><div class="progress" style="width:95%"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; height: 15px">75%</div></div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
        </div>
    </div>