<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">List Permasalahan Agraria</h4>

        <!-- start new add object and subject -->
        <div class="dropdown nav justify-content-end mr-3">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownMenuForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Tambah data objek dan subjek tora"><span class="oi oi-plus"></span></button>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuForm">
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalUploadDocument">Upload Dokumen</button>
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exampleModal-lg">Isi Form Dokumen</button>
            </div>
        </div>

        <!-- MODAL -->
        <!-- modal add new upload dokumen objek dan subjek table -->
        <div class="modal fade" id="modalUploadDocument" tabindex="-1" role="dialog" aria-labelledby="tambah data dengan unggah dokumen" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Unggah dokumen objek dan subjek</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <ng-container *ngIf="loadingUploadModal">
                        <div class="modal-body">
                            <div class="col-12">
                                <div id="loader"></div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="showUploadModal">
                        <div class="modal-body">
                            <div class="col-12">
                                <form>
                                    <div class="form-row pt-2">
                                        <div class="form-group col-md-12">
                                            <label for="uploadFile">Unggah berkas</label>
                                            
                                            <form>
                                                <div class="form-group">
                                                    <label for="uploadDocument">Klik untuk unggah berkas</label>
                                                    <input type="file" class="form-control-file" (change)="uploadFile($event)" accept=".xls,.xlsx" id="uploadDocumentObjectSubject">
                                                    <small id="uploadHelpBlock" class="form-text text-muted">
                                                        File yang di upload harus berupa Ms.Excel (.xls .xlsx)
                                                    </small>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="downloadFileTemplateObjekSubjek">Unduh file template</label>
                                            <button type="button" class="btn btn-outline-secondary pl-3">
                                                <img src="/images/ic_file_download_black_24dp_2x.png" class="img-fluid" alt="responsive image" width="32" height="32">
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Simpan</button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- end modal add new upload dokumen objek dan subjek table -->

        <!-- Modal add new objek dan subjek table -->
        <div class="modal fade" id="exampleModal-lg" tabindex="-1" role="dialog" aria-labelledby="Tambah data dengan isi form dokumen" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Form objek dan subjek TORA</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12">
                            <form class="was-validated">

                                <ul class="nav nav-tabs tabObjectSubject" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="object-tab" data-toggle="tab" href="#formObject" role="tab" aria-controls="formObject" aria-selected="true">Form objek</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="subject-tab" data-toggle="tab" href="#formSubject" role="tab" aria-controls="formSubject" aria-selected="false">Form subjek</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="formObject" role="tabpanel" aria-labelledby="object-tab">

                                        <h5 class="pt-3">Data Utama</h5>

                                        <div class="form-row pt-2">
                                            <div class="form-group col-md-8">
                                                <label for="inputEmail4">Nama lokasi</label>
                                                <input type="Text" class="form-control is-invalid" id="inputEmail4" placeholder="Nama Lokasi" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="exampleFormControlSelect1">Desa</label>
                                                <select class="form-control" id="exampleFormControlSelect1" required>
                                                    <option value="">Pilih desa</option>
                                                    <option value="1">Bora</option>
                                                    <option value="2">Kababona</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="exampleFormControlSelect1">Kecamatan</label>
                                                <select class="form-control" id="exampleFormControlSelect1" required>
                                                    <option value="">Pilih kecamatan</option>
                                                    <option value="1">Dolo Barat</option>
                                                    <option value="2">Dolo Selatan</option>
                                                    <option value="3">Gumbasa</option>
                                                    <option value="4">Kinovaro</option>
                                                    <option value="5">Kulawi</option>
                                                    <option value="6">Marawola Barat</option>
                                                    <option value="7">Nokilalaki</option>
                                                    <option value="8">Palalo</option>
                                                </select>
                                            </div>
                                            <div class="fieldset disabled form-group col-md-4">
                                                <label for="disabledSelect">Kabupaten</label>
                                                <select id="disabledSelect" class="form-control" disabled>
                                                    <option>Sigi</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4">Luas wilayah objek</label>
                                                <input type="Text" class="form-control" id="inputEmail4" placeholder="Ha" required>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="exampleFormControlSelect1">Status kawasan</label>
                                                <select class="form-control" id="exampleFormControlSelect1" required>
                                                    <option value="">Pilih status kawasan</option>
                                                    <option value="1">Hutan</option>
                                                    <option value="2">Non Hutan</option>
                                                </select>
                                            </div>
                                           
                                           
                                        </div>

                                        <div class="form-row">

                                            <div class="form-group col-md-12">
                                                <label for="inputEmail4">Klasifikasi bentang lahan</label>
                                                <input type="Text" class="form-control" id="inputEmail4" placeholder="Perbukitan, pegunungan" required>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label for="inputEmail4">Tipe penggunaan lahan</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tipe penggunaan lahan" required></textarea>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="exampleFormControlSelect1">Usulan skema</label>
                                                <select class="form-control" id="exampleFormControlSelect1" required>
                                                    <option value="">Pilih usulan skema</option>
                                                    <option value="1">TORA</option>
                                                    <option value="2">Pelepasan kawasan hutan</option>
                                                    <option value="3">redistribusi tanah</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="exampleFormControlSelect1">Tahapan</label>
                                                <select class="form-control" id="exampleFormControlSelect1" required>
                                                    <option value="">Pilih tahapan</option>
                                                    <option value="1">Usulan</option>
                                                    <option value="2">Verifikasi</option>
                                                    <option value="3">Penetapan</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputEmail4">Unggah Koordinat PETA</label>
                                                <label class="custom-file">
                                                    <input type="file" class="custom-file-input" id="exampleFormControlFile1" aria-describedby="uploadHelpBlock" required>
                                                    <small id="uploadHelpBlock" class="form-text text-muted">
                                                        File Ms.Excel (.xl .xls)
                                                    </small>
                                                    <span class="custom-file-control text-muted">Unggah PETA</span>
                                                </label>
                                            </div>

                                        </div>

                                        <hr>

                                        <h5 class="pt-3">Data Pendukung</h5>

                                        <div class="form-row pt-2">

                                            <div class="form-group col-md-4">
                                                <label for="exampleFormControlSelect1">Status tanah</label>
                                                <select class="form-control" id="exampleFormControlSelect1" required>
                                                    <option value="">Pilih status tanah</option>
                                                    <option value="1">Negara</option>
                                                    <option value="2">Swasta</option>
                                                    <option value="3">lainya</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-8 text-muted">
                                                <label for="inputEmail4">*Data tambahan</label>
                                                <input type="Text" class="form-control" id="inputEmail4" placeholder="data tambahan">
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label for="inputEmail4">Sejarah penguasaan tanah</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" required></textarea>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label for="inputEmail4">Kronologi konflik <label class="text-muted">*(Jika ada)</label></label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>

                                            <div class="form-row col-md-12">
                                                <div class="form-group col-md-12 mb-auto">
                                                    <label for="progresLangkahAdvokasi">Progres langkah advokasi:</label>
                                                </div>

                                                <div class="form-group col-md-6 text-muted">
                                                    <label for="Formal">a. Formal</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>

                                                <div class="form-group col-md-6 text-muted">
                                                    <label for="NonFormal">b. Non formal</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="formSubject" role="tabpanel" aria-labelledby="subject-tab">
                                        <div class="form-row pt-2">
                                            
                                            <div class="form-group col-md-12">
                                                <nav id="navbar-tablePreview" class="navbar navbar-light bg-light navbarSubjectTable">
                                                    
                                                    <table class="table table-bordered table-striped table-sm table-subject table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Nama</th>
                                                                <th scope="col">Status pernikahan</th>
                                                                <th scope="col">Alamat</th>
                                                                <th scope="col">Jenis kelamin</th>
                                                                <th scope="col">Umur</th>
                                                                <th scope="col">Pendidikan</th>
                                                                <th scope="col">Jumlah keluarga</th>
                                                                <th scope="col">Status tanah</th>
                                                                <th scope="col">Lokasi lahan garapan</th>
                                                                <th scope="col">Luas (ha)</th>
                                                                <th scope="col">Jenis tanaman</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngFor="let subject of subjectList">
                                                            <tr>
                                                                <th scope="row" id="">1</th>
                                                                <td>{{subject.name}}</td>
                                                                <td>{{MaritalStatus[subject.maritalStatus]}}</td>
                                                                <td>{{subject.address}}</td>
                                                                <td>{{Gender[subject.gender]}}</td>
                                                                <td>{{subject.age}}</td>
                                                                <td>{{EducationalAttainment[subject.educationalAttainment]}}</td>
                                                                <td>{{subject.totalFamilyMembers}}</td>
                                                                <td>{{LandStatus[subject.landStatus]}}</td>
                                                                <td>{{subject.landLocation}}</td>
                                                                <td>{{subject.size}}</td>
                                                                <td>{{subject.plantTypes}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </nav>
                                            </div>   
                                             
                                            
                                            <div class="form-group col-md-6">
                                                <label for="Name">Nama</label>
                                                <input type="text" class="form-control" id="subjekName" aria-describedby="nameHelp" placeholder="Masukan Nama">
                                                <small id="namelHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="status-pernikahan">Status pernikahan</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>Pilih status pernikahan</option>
                                                    <option>Menikah</option>
                                                    <option>Tidak menikah</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label for="formSubjectAlamat">Alamat</label>
                                                <textarea class="form-control" id="formSubjectAlamat" rows="3"></textarea>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="jenisKelamin">Jenis kelamin</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>Pilih jenis kelamin</option>
                                                    <option>Pria</option>
                                                    <option>Wanita</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="umur">Umur</label>
                                                <input type="text" class="form-control" id="formSubjectUmur" aria-describedby="umurHelp" placeholder="Masukan umur">
                                                <small id="umurlHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="pendidikan">Pendidikan</label>
                                                <input type="text" class="form-control" id="formSubjectPendidikan" aria-describedby="pendidikanHelp" placeholder="Masukan pendidikan">
                                                <small id="pendidikanHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="jumlahAnggotaKeluarga">Jumlah keluarga</label>
                                                <input type="text" class="form-control" id="formSubjectAnggotaKeluarga" aria-describedby="anggotaKeluargaHelp" placeholder="Masukan jumlah keluarga">
                                                <small id="pendidikanHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group col-md-8">
                                                <label for="statusTanah">Status tanah</label>
                                                <input type="text" class="form-control" id="formSubjectStatusTanah" aria-describedby="statusTanahHelp" placeholder="Masukan status tanah">
                                                <small id="statusTanahHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label for="lokasiLahanGarapan">Lokasi lahan garapan</label>
                                                <textarea class="form-control" id="formSubjectLokasiLahanGarapan" rows="3"></textarea>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="Luas">Luas</label>
                                                <input type="text" class="form-control" id="formSubjectLuas" aria-describedby="luasHelp" placeholder="Luas">
                                                <small id="statusTanahHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group col-md-8">
                                                <label for="Luas">Jenis tanaman</label>
                                                <input type="text" class="form-control" id="formSubjectJenisTanaman" aria-describedby="jenisTanamanHelp" placeholder="Masukan jenis tanaman">
                                                <small id="jenisTanamanHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group col-md-8">
                                                <button type="button" class="btn btn-info">Simpan data subjek</button>
                                                <button type="button" class="btn btn-warning">Clear data</button>
                                            </div>
                                            

                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                    <!-- End Modal Body-->

                    <div class="modal-footer">
                        <div class="pr-4">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                            <button type="button" class="btn btn-primary">Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->

        <!-- Table objek subjek -->

        <div class="table-responsive pt-2 table-object-subject">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th (click)="sorted('Lokasi')">Lokasi</th>
                        <th (click)="sorted('Penggarap')">Penggarap</th>
                        <th (click)="sorted('Luas')">Luas</th>
                        <th (click)="sorted('Status')">Status Tanah</th>
                        <th (click)="sorted('Usulan')">Usulan Skema</th>
                        <th>Koordinat</th>
                        <th>Tahapan</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>   
                    <ng-container *ngIf="loading">
                        <tr>
                            <td colspan="12">
                                <div class="col-md-12">
                                    <div id="loader"></div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="showPage">
                        <ng-container *ngFor="let object of objectList">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td data-toggle="collapse" [attr.data-target]="'#accordion-' + object.id" class="clickable" (click)="onToggle('toggle-' + object.id)"><a href="#">{{object.name}}</a></td>
                                <td data-toggle="collapse" [attr.data-target]="'#accordion-' + object.id" class="clickable" (click)="onToggle('toggle-' + object.id)">{{object.totalTenants}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#accordion-' + object.id" class="clickable" (click)="onToggle('toggle-' + object.id)">{{object.size | number}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#accordion-' + object.id" class="clickable" (click)="onToggle('toggle-' + object.id)">{{LandStatus[object.landStatus]}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#accordion-' + object.id" class="clickable text-success" (click)="onToggle('toggle-' + object.id)">{{object.proposedTreatment}}</td>
                                <td data-toggle="collapse" [attr.data-target]="'#accordion-' + object.id" class="clickable" (click)="onToggle('toggle-' + object.id)">Image</td>
                                <td data-toggle="collapse" [attr.data-target]="'#accordion-' + object.id" class="clickable" (click)="onToggle('toggle-' + object.id)">Penetapan</td>
                                <td data-toggle="tooltip" data-placement="top" title="edit">
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuEdit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="oi oi-pencil" title="Edit"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuEdit">
                                            <button class="dropdown-item" type="button">Edit Objek</button>
                                            <button class="dropdown-item" type="button">Edit Subjek</button>
                                        </div>
                                    </div>
                                </td>
                                <td data-toggle="modal" data-target="#exampleModal1" title="hapus"><button type="button" class="btn btn-link"><span class="oi oi-trash" title="Hapus" (click)="delete(object.id)"></span></button></td>
                                <td id="{{ 'toggle-' + object.id }}" data-toggle="collapse" [attr.data-target]="'#accordion-' + object.id" class="clickable" (click)="onToggle('toggle-' + object.id)"><button type="button" class="btn btn-link btn-sm"><img src="/images/ic_keyboard_arrow_up_black_24dp_2x.png" class="spin-icon"></button></td>
                            </tr>
                            <tr>
                                <td colspan="12">
                                    <div id="{{ 'accordion-' + object.id }}" class="collapse">
                                        <ul class="nav nav-tabs my-3 navObjekSUbjek" id="objekSubjekTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="dataObjekTab" data-toggle="tab" [attr.href]="'#dataObjek-' + object.id" role="tab" aria-controls="dataObjek" aria-selected="true">Data objek</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="dataSubjekTab" data-toggle="tab" [attr.href]="'#dataSubjek-' + object.id" role="tab" aria-controls="dataSubjek" aria-selected="false" (click)="getSubjectList(object.id)">Data subjek</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content" id="subjekObjekTabContent">
                                            <div class="tab-pane fade show active" id="{{'dataObjek-' + object.id}}" role="tabpanel" aria-labelledby="dataObjek">

                                                <table width="800" class="table table-bordered table-responsive bg-light my-3 table-object">
                                                    <caption><button type="button" class="btn btn-primary" title="Print"><span class="oi oi-print" style="margin-right: 10px;"></span>Print</button></caption>

                                                    <thead>
                                                        <tr>
                                                            <th scope="col">No</th>
                                                            <th scope="col" colspan="4">Informasi Umum</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td scope="row" colspan="1">Nama Lokasi</td>
                                                            <td colspan="2">{{object.name}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>Desa</td>
                                                            <td colspan="2">Desa</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Kecamatan</td>
                                                            <td colspan="2">Kecamatan</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">4</th>
                                                            <td>Kabupaten/Provinsi</td>
                                                            <td colspan="2">Kabupaten/Provinsi</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">5</th>
                                                            <td>Luas Wilayah Objek</td>
                                                            <td colspan="2">{{object.size}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">6</th>
                                                            <td>Jumlah Penggarap</td>
                                                            <td colspan="2">{{object.totalTenants}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">7</th>
                                                            <td>Status Kawasan</td>
                                                            <td colspan="2">{{RegionalStatus[object.regionalStatus]}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">8</th>
                                                            <td>Klasifikasi bentang Lahan</td>
                                                            <td colspan="2">{{object.landType}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">9</th>
                                                            <td>Tipe Penggunaan Lahan</td>
                                                            <td colspan="2">{{object.livelihood}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">10</th>
                                                            <td>Usulan Skema</td>
                                                            <td colspan="2">{{object.proposedTreatment}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">11</th>
                                                            <td>Tahapan</td>
                                                            <td colspan="2">Tahapan</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="col">No</th>
                                                            <th scope="col" colspan="4">Data Pendukung</th>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Status Tanah</td>
                                                            <td colspan="2">{{LandStatus[object.landStatus]}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>Sejarah Penguasaan Tanah</td>
                                                            <td colspan="2">{{object.landTenureHistory}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Kronologi Konflik</td>
                                                            <td colspan="2">{{object.conflictChronology}}</td>
                                                        </tr>

                                                        <tr>
                                                            <th scope="row" rowspan="4">4</th>
                                                            <td rowspan="4">Progres Langkah Advokasi</td>
                                                            <td rowspan="2">Jalur Formal: </td>
                                                            <td rowspan="2">{{object.formalAdvocacyProgress}}</td>
                                                        </tr>

                                                        <tr></tr>

                                                        <tr>
                                                            <td rowspan="2">Non Formal: </td>
                                                            <td rowspan="2">{{object.nonFormalAdvocacyProgress}}</td>
                                                        </tr>

                                                        <tr></tr>

                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Koordinat peta</td>
                                                            <td colspan="2">isi koordinat peta</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="tab-pane fade" id="{{'dataSubjek-' + object.id}}" role="tabpanel" aria-labelledby="dataSubjek">
                                                <table class="table table-bordered table-striped table-sm table-subject">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Nama</th>
                                                            <th scope="col">Status pernikahan</th>
                                                            <th scope="col">Alamat</th>
                                                            <th scope="col">Jenis kelamin</th>
                                                            <th scope="col">Umur</th>
                                                            <th scope="col">Pendidikan</th>
                                                            <th scope="col">Jumlah keluarga</th>
                                                            <th scope="col">Status tanah</th>
                                                            <th scope="col">Lokasi lahan garapan</th>
                                                            <th scope="col">Luas (ha)</th>
                                                            <th scope="col">Jenis tanaman</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngFor="let subject of subjectList; let i = index">
                                                        <tr>
                                                            <th scope="row">{{i + 1}}</th>
                                                            <td>{{subject.name}}</td>
                                                            <td>{{MaritalStatus[subject.maritalStatus]}}</td>
                                                            <td>{{subject.address}}</td>
                                                            <td>{{Gender[subject.gender]}}</td>
                                                            <td>{{subject.age}}</td>
                                                            <td>{{EducationalAttainment[subject.educationalAttainment]}}</td>
                                                            <td>{{subject.totalFamilyMembers}}</td>
                                                            <td>{{LandStatus[subject.landStatus]}}</td>
                                                            <td>{{subject.landLocation}}</td>
                                                            <td>{{subject.size | number}}</td>
                                                            <td>{{subject.plantTypes}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    
                                </td>
                            </tr>
                        </ng-container>
                        <tr *ngIf="objectList.length < 1">
                            <td colspan="12" style="text-align:center; vertical-align:middle; background-color:#f2f2f2;">
                                Tidak ada Permasalahan Agraria
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <!-- end table data utama -->
    </div>
</div>



<!-- alert modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="alert alert-light alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="form-row col-12">
                <div class="col-12">
                    <h3 class="alert-heading pb-4">Hapus data?</h3>
                </div>
            </div>
            <div class="nav justify-content-end pb-2 mt-4 mr-3">
                <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-danger" (click)="deleteObject()">Hapus</button>
            </div>
        </div>
    </div>
</div>
<!-- end alert modal -->
