<div class="card">
    <div class="card-body">
        <div class="card-text text-center" *ngIf="!events || events.length === 0">Tidak ada kegiatan di {{region?.name}}</div>
        <div class="card-deck" *ngIf="events && events.length > 0">
            <div class="card event-card" *ngFor="let event of events" [style.borderColor]="event.color" (click)="onCardClicked(event)">
                <h6 class="card-header text-center" [style.backgroundColor]="event.color">
                    <ng-container *ngIf="isOneDayEvent(event.startDate, event.endDate)">
                        {{event.startDate | date:'dd MMM'}}
                    </ng-container>
                    <ng-container *ngIf="!isOneDayEvent(event.startDate, event.endDate)">
                        {{event.startDate | date:'dd MMM'}} {{event.endDate ? '- ' + (event.endDate | date: 'dd MMM') : ''}}
                    </ng-container>
                </h6>
                <div class="card-body">
                    <p class="card-text" style="font-size:0.7rem;">{{RegionType[event.region?.type]}} {{event.region?.name}}</p>
                    <p class="card-title" style="font-size:0.8rem;">{{event.eventType?.id}} - {{event.eventType?.name}}</p>
                </div>                
            </div>
        </div>
    </div>
</div>