<div class="card w-100 h-100">
    <div class="card-body">
        <h4 class="card-title">Agenda Kegiatan</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <div class="row agenda_kegiatan">

            <div class="col-6 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="/images/Agenda%20Kegiatan@2x.png" class="img-fluid" alt="Responsive image">
                </a>
            </div>

            <div class="col-6 col-md-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="/images/Agenda%20Kegiatan@2x.png" class="img-fluid" alt="responsive image">
                </a>
            </div>

            <div class="col-6 col-md-4 col-sm-6">
                <a href="#">
                    <img src="/images/Agenda%20Kegiatan@2x.png" class="img-fluid" alt="responsive image">
                </a>
            </div>

            <div class="col-6 col-md-4 col-sm-6">
                <a href="#">
                    <img src="/images/Agenda%20Kegiatan@2x.png" class="img-fluid" alt="responsive image">
                </a>
            </div>

            <div class="col-6 col-md-4 col-sm-6">
                <a href="#">
                    <img src="/images/Agenda%20Kegiatan@2x.png" class="img-fluid" alt="responsive image">
                </a>
            </div>

            <div class="col-6 col-md-4 col-sm-6">
                <a href="#">
                    <img src="/images/Agenda%20Kegiatan@2x.png" class="img-fluid" alt="responsive image">
                </a>
            </div>

        </div>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>