<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-8 col-xs-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="image-login-style mx-auto">
                        <img src="/images/loginIconDesign.png" class="img-fluid" alt="responsive image">
                    </div>
                    <h5 class="text-center">Sistem Monitoring Reforma Agraria</h5>
                    <ra-alert></ra-alert>
                    <ng-container *ngIf="loading">
                        <div class="col-md-12">
                            <div id="loader"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="showPage">
                        <form name="form" class="col-12 was-validated" (ngSubmit)="f.form.valid && sendPasswordRecoveryLink()" #f="ngForm" novalidate>
                            <div class="alert alert-warning text-center">
                                <a>Masukkan alamat email yang digunakan untuk masuk ke Reforma Agraria.</a>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                <label for="email">Email</label>
                                <input type="text" class="form-control ins-invalid" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                                <div *ngIf="f.submitted && !email.valid" class="help-block invalid-feedback">Email is required</div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Kirim</button>
                                <a [routerLink]="['/account/login']" class="btn btn-link btn-block">Batal</a>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>