<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-8 col-xs-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="login-image mx-auto">
                        <img class="img-fluid" src="/images/bp3ti.png" alt="responsive image">
                    </div>
                    <h5 class="text-center">Sistem Navigasi Reforma Agraria &amp; Perhutanan Sosial</h5>                  
                    <form name="form" class="col-12 was-validated" (ngSubmit)="f.form.valid && recoverPassword()" #f="ngForm" novalidate>
                        <div class="alert alert-warning text-center">
                            <a>Masukkan alamat email yang digunakan untuk masuk ke Reforma Agraria.</a>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                            <label for="email">Email</label>
                            <input type="text" class="form-control ins-invalid" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                            <div *ngIf="f.submitted && !email.valid" class="help-block invalid-feedback">Email is required</div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Kirim</button>
                            <a [routerLink]="['/account/login']" class="btn btn-link btn-block">Batal</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>