<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="sidenav-drawer" id="mySidenav">
        <div class="d-flex justify-content-between">
            <a class="nav-link" routerLink="/home/{{regionId}}" routerLinkActive="active">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Dashboard
            </a>
            <a class="nav-link close-btn" data-toggle="collapse" data-target="#mySidenav">&times;</a>            
        </div>        
        <a class="nav-link" routerLink="/calendar/{{regionId}}" routerLinkActive="active">
            <span class="oi oi-calendar" aria-hidden="true"></span>Kalendar Kegiatan
        </a>
        <a class="nav-link" routerLink="/map" routerLinkActive="active">
            <span class="oi oi-map" aria-hidden="true"></span>Peta
        </a>
        <a class="nav-link" routerLink="/library" routerLinkActive="active">
            <span class="oi oi-list" aria-hidden="true"></span>Pustaka
        </a>
        <a class="nav-link" routerLink="/account/usermanagement" routerLinkActive="active">
            <span class="oi oi-people" aria-hidden="true"></span>Pengguna
        </a>
    </div>

    <button class="navbar-toggler d-md-none d-lg-none align-middle" type="button" data-toggle="collapse" data-target="#mySidenav">
        <span class="oi oi-chevron-right"></span>
    </button>

    <a class="navbar-brand" routerLink="/home/{{regionId}}">Reforma Agraria</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ol class="breadcrumb mr-auto">
            <li class="breadcrumb-item active" *ngFor="let r of (region | regionBreadcrumb)">
                <a class="breadcrumb-item-link" [routerLink]="['/home', convertRegionId(r.id)]">{{ r.name }}</a>
            </li>
        </ol>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link m-auto" routerLink="/account/usermanagement">
                    <span class="oi oi-people" aria-hidden="true"></span>
                </a>
            </li>
        </ul>

        <ng-template #searchItemTemplate let-model="item" let-index="index">
            <div>
                <span>{{ model.label }}</span>
                <span style="font-size:0.6rem;" *ngIf="model.type === 0">
                    <i>Kabupaten</i>
                </span>
                <span style="font-size:0.6rem;" *ngIf="model.type === 1">
                    <i>Kecamatan</i>
                </span>
                <span style="font-size:0.6rem;" *ngIf="model.type === 2">
                    <i>Desa</i>
                </span>
                <span style="font-size:0.6rem;" *ngIf="model.type === 3">
                    <i>TORA Objek</i>
                </span>
            </div>
        </ng-template>

        <form class="form-inline mt-2 mt-md-0">
            <input [(ngModel)]="selected" [typeahead]="dataSource" [typeaheadMinLength]="3" [typeaheadWaitMs]="300" [typeaheadItemTemplate]="searchItemTemplate"
                typeaheadOptionField="label" (typeaheadOnSelect)="onSearchSelected($event)" name="search" autocomplete="off"
                class="typehead form-control mr-sm-2" type="text" placeholder="Cari Desa atau TORA" aria-label="Search">
            <button type="button" class="btn btn-sml btn-outline-warning my-2 my-sm-0" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>
