<div class="row">
    <hr />
    <div class="col-md-8 col-sm-12 card-padding activity-agenda">
        <ra-event></ra-event>
    </div>
    <div class="col-md-4 col-sm-12 card-padding village-history">
        <ra-village></ra-village>
    </div>
    <div class="col-md-12 col-sm-12 card-padding team-work-village">
        <ra-team></ra-team>
    </div>
    <div class="col-md-12 col-sm-12 card-padding village-border-table">
        <ra-village-border></ra-village-border>
    </div>
    <div class="col-md-12 col-sm-12 card-padding map-navigation">
        <ra-map-navigation></ra-map-navigation>
    </div>
    <div class="col-md-12 col-sm-12 card-padding agraria-issues-header">
        <ra-agraria-issues-header></ra-agraria-issues-header>
    </div>
    <div class="col-md-12 col-sm-12 card-padding agraria-issues-list">
        <ra-agraria-issues-list></ra-agraria-issues-list>
    </div>
    <hr />
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
