<div class="row">
    <hr />
    <div class="col-md-12 col-sm-12 card-padding agraria-issues-header">
        <ra-tora-header></ra-tora-header>
    </div>
    <div class="col-md-12 col-sm-12 card-padding" [hidden]="region && region.type === 4">
        <ra-tora-summary></ra-tora-summary>
    </div>
    <div class="col-md-12 col-sm-12 card-padding" *ngIf="region && region.type === 4">
        <ra-tora-list></ra-tora-list>
    </div>
    <!--<div class="col-md-8 col-sm-12 card-padding activity-agenda">
        <ra-event></ra-event>
    </div>
    <div class="col-md-4 col-sm-12 card-padding village-history">
        <ra-village></ra-village>
    </div>
    <div class="col-md-12 col-sm-12 card-padding team-work-village">
        <ra-team></ra-team>
    </div>
    <div class="col-md-12 col-sm-12 card-padding village-border-table">
        <ra-village-border></ra-village-border>
    </div>-->
    <div class="col-md-12 col-sm-12 card-padding map-navigation">
        <ra-map-navigation></ra-map-navigation>
    </div>
   
    <hr />
</div>