<div class="card w-100">
    <div class="card-body">
        <div class="d-flex card-title" style="justify-content: space-between;">
            <h4>Kebijakan dan Pustaka</h4>
            <div class="dropdown nav justify-content-end mr-3">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownMenuForm" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" title="UploadDocument">
                    <span class="oi oi-plus"></span>
                </button>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuForm">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalUpload">Upload Dokumen</button>
                </div>
            </div>
        </div>
        <a href="#" download id="download"></a>
        <table class="table table-hover table-sm" id="table-library">
            <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">
                        Nama Dokumen
                    </th>
                    <th class="text-center">
                        Tanggal Unggah
                    </th>
                    <th class="text-center">
                        Tanggal Ubah
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lib of library; let i = index">
                    <td class="text-center">{{i + 1}}</td>
                    <td class="text-left"><a href="javascript:void(0)" (click)="onDownload(lib.id, lib.title, lib.fileExtension)">{{lib.title}}{{lib.fileExtension}}</a></td>
                    <td class="text-center">{{lib.dateCreated | date: 'dd MMM yyyy'}}</td>
                    <td class="text-center">{{lib.dateModified | date: 'dd MMM yyyy'}}</td>
                    <td>
                        <button data-toggle="modal" data-target="#deleteModal" type="button" class="btn btn-link">
                            <span class="oi oi-trash" title="Delete" (click)="delete(lib.id)"></span>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="library.length < 1">
                    <td colspan="12" style="text-align:center; vertical-align:middle; background-color:#f2f2f2;">
                        Tidak ada data
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="modalUpload" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Form Kebijakan dan Pustaka</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="form-group col-md-12">
                        <input type="Text" class="form-control" id="inputTitle" placeholder="Deskripsi" required [(ngModel)]="model.title" name="title">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="custom-file">
                            <input aria-describedby="uploadHelpBlock" class="custom-file-input" id="uploadLibrary" (change)="onChangeFile($event)" required=""
                                type="file" style="width:500px">
                            <small class="form-text text-muted" id="uploadHelpBlock">
                                File .doc .docx .xl .xls .xlsx .pdf
                            </small>
                            <span class="custom-file-control text-muted">
                                <span class="oi oi-data-transfer-download" title="Download"></span> Unggah Lampiran Dokumen</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="upload()">Simpan</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="alert alert-light alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="form-row col-12">
                <div class="col-12">
                    <h3 class="alert-heading pb-4">Hapus data?</h3>
                </div>
            </div>
            <div class="nav justify-content-end pb-2 mt-4 mr-3">
                <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-danger" (click)="deleteLibrary()">Hapus</button>
            </div>
        </div>
    </div>
</div>