<div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Batas Desa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Objek TORA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Batas dan Objek</a>
            </li>
          </ul>
        </div>
    <input type="file" class="custom-file-input" (change)="uploadFile($event)" placeholder="Upload file" accept=".zip" id="exampleFormControlFile1" aria-describedby="uploadHelpBlock" required>
        <div class="card-body">
          <img src="/images/map.png" class="img-fluid" alt="Responsive image">
        </div>
  </div>
