<div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Batas Desa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Objek TORA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Batas dan Objek</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            <ra-map style="overflow: hidden; height: 800px"></ra-map>
        </div>
  </div>