﻿<div class="box d-flex">
    <div leaflet id="map" [leafletOptions]="options" [leafletCenter]="center" [leafletZoom]="zoom" (leafletMapReady)="onMapReady($event)"></div>
</div>

<div id="upload-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form class="form-horizontal" (ngSubmit)="uploadFile(model)" id="form-upload">
            <div class="modal-content" style="border-radius: 0">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row was-validated">
                        <div class="form-group col-md-12">
                            <label class="form-control-label" for="label">Nama Layer</label>
                            <input id="label" class="form-control" type="text" [(ngModel)]="model.label" name="label" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="color">Warna</label>
                            <input id="color" name="color" class="form-control" autocomplete="off" [(colorPicker)]="color" [style.background]="color"
                                [value]="color" [cpPosition]="'bottom'" [cpPositionOffset]="'20%'" [cpOutputFormat]="'hex'" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="file">Unggah File (*.zip)</label>
                            <input id="file" accept=".zip,.rar,.7z" class="form-control" type="file" (change)="onChangeFile($event.target.files[0])" name="file" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-backdrop="false" data-dismiss="modal">
                        <i class="fa fa-save"></i> Batal</button>
                    <button type="submit" class="btn btn-primary" data-backdrop="false">
                        <i class="fa fa-repeat"></i>&nbsp;
                        <i class="fa fa-save"></i>Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form class="form-horizontal" (ngSubmit)="editOverlay(model)">
            <div class="modal-content" style="border-radius: 0">
                <div class="modal-header">
                    <h5 class="modal-title">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="form-control-label" for="label">Nama Layer</label>
                            <input id="label" class="form-control" type="text" [(ngModel)]="model.label" name="label">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="color">Warna</label>
                            <input id="color" name="color" class="form-control" autocomplete="off" [(colorPicker)]="color" [style.background]="color"
                                [value]="color" [cpPosition]="'bottom'" [cpPositionOffset]="'20%'" [cpOutputFormat]="'hex'" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" for="file">File (*.zip)</label>
                            <input id="file" accept=".zip,.rar,.7z" class="form-control" type="file" (change)="onChangeFile($event.target.files[0])"
                                name="file">

                        </div>
                        <div class="form-group col-md-6">
                            <a href="{{model.linkDownload}}" class="btn btn-link" role="button" aria-pressed="true" style="margin-top:4px;">
                                <span class="oi oi-data-transfer-download iconsMapUpload"></span>Unduh file</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-backdrop="false" data-dismiss="modal">
                        <i class="fa fa-save"></i>Batal</button>
                    <button type="submit" class="btn btn-primary" data-backdrop="false">
                        <i class="fa fa-repeat"></i>&nbsp;
                        <i class="fa fa-save"></i>Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 0">
            <div class="modal-body">                        
                <h2 class="text-center">Hapus {{model.label}} ?</h2>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary focus" data-backdrop="false" data-dismiss="modal">
                    <i class="fa fa-save"></i>Batal
                </button>
                <button type="submit" class="btn btn-danger" data-backdrop="false" (click)=deleteOverlay(model)>
                    <i class="fa fa-save"></i>Hapus
                </button>
            </div>
        </div>
    </div>
</div>