<div class="card w-100" *ngIf="showDiv">
    <div class="card-body">
        <h4 class="card-title">Permasalahan Agraria di {{region}}</h4>
                
        <div class="table-responsive pt-2">
            <table class="table table-sm" id="table-region">
                <thead>
                    <tr>
                        <th (click)="sort('region.name')" style="cursor: pointer;">
                            {{region}}
                            <ng-container *ngIf="order.includes('region.name')">
                                <span [hidden]="order.startsWith('-')">▲</span>
                                <span [hidden]="!order.startsWith('-')">▼</span>
                            </ng-container>
                        </th>
                        <th (click)="sort('totalSize')" style="cursor: pointer;" class="text-right">
                            Luas
                            <ng-container *ngIf="order.includes('totalSize')">
                                <span [hidden]="order.startsWith('-')">▲</span>
                                <span [hidden]="!order.startsWith('-')">▼</span>
                            </ng-container>
                        </th>
                        <th (click)="sort('totalToraObjects')" style="cursor: pointer;" class="text-right">
                            Total Object
                            <ng-container *ngIf="order.includes('totalToraObjects')">
                                <span [hidden]="order.startsWith('-')">▲</span>
                                <span [hidden]="!order.startsWith('-')">▼</span>
                            </ng-container>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="loading">
                        <tr>
                            <td colspan="12">
                                <div class="col-md-12">
                                    <div id="loader"></div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="showPage">
                        <tr *ngFor="let reg of regions | orderBy: order" >
                            <td class="text-left"><a [routerLink]="['/home', convertRegionId(reg.region.id)]" href="javascript:void(0)">{{reg.region.name}}</a></td>
                            <td class="table-data-padding text-right">{{reg.totalSize | number}} Ha</td>
                            <td class="text-right">{{reg.totalToraObjects}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

