<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">Kabupaten</h4>
        <h6 class="card-subtitle mb-2 text-muted">Sigi</h6>
        <br />
        <a (click)="getRegion()">test</a>
        <span>{{model.Id}}</span>
        <span>{{model.Name}}</span>
        <span>{{model.Type}}</span>
        <span>{{model.IsKelurahan}}</span>
        <span>{{model.fkParentId}}</span>
        <span>{{model.DateCreated}}</span>
        <span>{{model.DateModified}}</span>
    </div>
</div>