<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-8 col-xs-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="image-login-style mx-auto">
                        <img src="/images/loginIconDesign.png" class="img-fluid" alt="responsive image">
                    </div>

                    <h5 class="text-center">Sistem Monitoring Reforma Agraria</h5>
                    <ra-alert></ra-alert>
                    <a>Reset Password</a>
                    <form name="form" class="col-12" (ngSubmit)="f.form.valid && resetpassword()" #f="ngForm" novalidate>
                        <input type="hidden" asp-for="Token"  class="form-control" name="token" [(ngModel)]="model.Token" #token="ngModel" />
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" [(ngModel)]="model.Email" #email="ngModel" required />
                            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="model.Password" #password="ngModel" required />
                            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmpassword.valid }">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="model.ConfirmPassword" #confirmpassword="ngModel" required />
                            <div *ngIf="f.submitted && !confirmpassword.valid" class="help-block">Password is required</div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Reset</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
