<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-8 col-xs-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="image-login-style mx-auto">
                        <img src="/images/loginIconDesign.png" class="img-fluid" alt="responsive image">
                    </div>

                    <h5 class="text-center">Sistem Monitoring Reforma Agraria</h5>
                    <a>Reset Password</a>
                    <ng-container *ngIf="loading">
                        <div class="col-md-12">
                            <div id="loader"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="showPage">
                        <form name="form" class="col-12 was-validated" (ngSubmit)="isValid && resetPassword()">
                            <input type="hidden" asp-for="Token" class="form-control" name="token" [(ngModel)]="model.token" #token="ngModel" />
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input [disabled]="true" type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                            </div>
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required (keyup)="validateResetPasswordForm($event)" />
                                <div *ngIf="invalidPassword.length > 0" class="help-block">{{this.invalidPassword}}</div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmpassword="ngModel" required (keyup)="validateResetPasswordForm($event)" />
                                <div *ngIf="unmatchedPassword.length > 0" class="help-block">{{this.unmatchedPassword}}</div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Reset</button>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
