
<nav>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" href="javascript:void(0)"><span class="oi oi-bar-chart" aria-hidden="true"></span>Dashboard<span class="sr-only">(current)</span></a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" href="#"><span class="oi oi-calendar" aria-hidden="true"></span>Agenda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><span class="oi oi-people" aria-hidden="true"></span>Tim Kerja</a>
        </li>-->
        <li class="nav-item">
            <a class="nav-link" routerLink="/map" routerLinkActive="active" href="javascript:void(0)"><span class="oi oi-map" aria-hidden="true" ></span>Peta</a>
        </li>
    </ul>

    <!--<ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#"><span class="oi oi-task" aria-hidden="true"></span>Permasalahan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><span class="oi oi-list" aria-hidden="true"></span>Pustaka</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><span class="oi oi-document" aria-hidden="true"></span>Laporan pertemuan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Another nav item</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/crud/region">Region</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">One more nav</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Another nav item</a>
        </li>
    </ul>-->
</nav>
