<nav class="sidebar col-sm-3 col-md-2 col-xl-2 d-none d-sm-block bg-dark">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home/{{regionId}}" routerLinkActive="active">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/calendar/{{regionId}}" routerLinkActive="active">
                <span class="oi oi-calendar" aria-hidden="true"></span>Kalendar Kegiatan
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/map" routerLinkActive="active">
                <span class="oi oi-map" aria-hidden="true"></span>Peta
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/library" routerLinkActive="active" href="javascript:void(0)">
                <span class="oi oi-list" aria-hidden="true"></span>Pustaka
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/account/usermanagement" routerLinkActive="active">
                <span class="oi oi-people" aria-hidden="true"></span>Pengguna
            </a>
        </li>
    </ul>
</nav>