<div class="card w-100">
    <div class="card-body">
        <div class="d-flex card-title" style="justify-content: space-between;">
            <h4>Daftar Permasalahan Agraria di {{region?.name}}</h4>

            <!-- start new add object and subject -->
            <div class="dropdown nav justify-content-end mr-3">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownMenuForm" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" title="Tambah data objek dan subjek tora">
                    <span class="oi oi-plus"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuForm">
                    <button class="dropdown-item" type="button" (click)="onUploadDocument()">Upload Dokumen</button>
                    <button class="dropdown-item" type="button" (click)="onShowToraObjectForm(null)">Tambah Objek Tora</button>
                </div>
            </div>
        </div>

        <!-- Table objek subjek -->
        <table class="table table-responsive-sm table-sm">
            <thead>
                <tr>                   
                    <th (click)="sort('Lokasi')">Lokasi</th>
                    <th (click)="sort('Penggarap')">Penggarap</th>
                    <th (click)="sort('Luas')">Luas (ha)</th>
                    <th (click)="sort('Status')">Status Tanah</th>
                    <th (click)="sort('Usulan')">Usulan Skema</th>
                    <th>Tahapan</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="progress?.percentage < 100">
                    <tr>
                        <td colspan="12">
                            <div class="col-md-12">
                                <div id="loader"></div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="progress?.percentage === 100">
                    <ng-container *ngFor="let object of toraObjects">
                        <tr>
                            <td>
                                <a routerLink="/toradetail/{{object.id}}">{{object.name != '' ? object.name : '[Lokasi Tanpa Nama]'}}</a>
                            </td>
                            <td>{{object.totalSubjects ? object.totalSubjects : '-'}}</td>
                            <td>{{object.size > 0 ? (object.size / 10000 | number : '1.2-2') : '-'}}</td>
                            <td>{{LandStatus[object.landStatus] | translate}}</td>
                            <td>{{object.proposedTreatment ? object.proposedTreatment : '-'}}</td>
                            <td>{{Status[object.status] | translate}}</td>
                            <td title="edit">
                                <button type="button" class="btn btn-link">
                                    <span class="oi oi-pencil" title="Edit" (click)="onShowToraObjectForm(object)"></span>
                                </button>
                            </td>
                            <td data-toggle="modal" data-target="#deleteModal" title="hapus">
                                <button type="button" class="btn btn-link">
                                    <span class="oi oi-trash" title="Hapus" (click)="onDeleteToraObject(object)"></span>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="toraObjects.length < 1">
                        <td colspan="12" style="text-align:center; vertical-align:middle; background-color:#f2f2f2;">
                            Tidak ada Permasalahan Agraria
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <!-- end table data utama -->
    </div>
</div>