<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">List Permasalahan Agraria</h4>

        <!-- start new add object and subject -->
        <div class="dropdown nav justify-content-end mr-3">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownMenuForm" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" title="Tambah data objek dan subjek tora">
                <span class="oi oi-plus"></span>
            </button>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuForm">
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalUploadDocument">Upload Dokumen</button>
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#editModal" (click)="add()">Isi Form Dokumen</button>
            </div>
        </div>

        <!-- Table objek subjek -->
        <table class="table table-sm pt-2">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <th (click)="sorted('Lokasi')">Lokasi</th>
                    <th (click)="sorted('Penggarap')">Penggarap</th>
                    <th (click)="sorted('Luas')">Luas (ha)</th>
                    <th (click)="sorted('Status')">Status Tanah</th>
                    <th (click)="sorted('Usulan')">Usulan Skema</th>
                    <th>Koordinat</th>
                    <th>Tahapan</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="loading">
                    <tr>
                        <td colspan="12">
                            <div class="col-md-12">
                                <div id="loader"></div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="!loading">
                    <ng-container *ngFor="let object of toraObjects">
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <a routerLink="/toradetail/{{object.id}}">{{object.name}}</a>
                            </td>
                            <td>{{object.totalTenants}}</td>
                            <td>{{object.size > 0 ? (object.size | number) : '-'}}</td>
                            <td>{{LandStatus[object.landStatus] | translate}}</td>
                            <td>{{object.proposedTreatment}}</td>
                            <td>Image</td>
                            <td>{{Status[object.stages] | translate}}</td>
                            <td title="edit" data-toggle="modal" data-target="#editModal">
                                <button type="button" class="btn btn-link">
                                    <span class="oi oi-pencil" title="Edit" (click)="edit(object)"></span>
                                </button>
                            </td>
                            <td data-toggle="modal" data-target="#deleteModal" title="hapus">
                                <button type="button" class="btn btn-link">
                                    <span class="oi oi-trash" title="Hapus" (click)="delete(object.id)"></span>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="toraObjects.length < 1">
                        <td colspan="12" style="text-align:center; vertical-align:middle; background-color:#f2f2f2;">
                            Tidak ada Permasalahan Agraria
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <!-- end table data utama -->
    </div>
</div>

<!-- MODAL -->
<!-- modal add new upload dokumen objek dan subjek table -->
<div class="modal fade" id="modalUploadDocument" tabindex="-1" role="dialog" aria-labelledby="tambah data dengan unggah dokumen"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Unggah dokumen objek dan subjek</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <ng-container *ngIf="loadingUploadModal">
                <div class="modal-body">
                    <div class="col-12">
                        <div id="loader"></div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="showUploadModal">
                <div class="modal-body">
                    <div class="col-12">
                        <form>
                            <div class="form-row pt-2">
                                <div class="form-group col-md-12">
                                    <label for="uploadFile">Unggah berkas</label>

                                    <form>
                                        <div class="form-group">
                                            <label for="uploadDocument">Klik untuk unggah berkas</label>
                                            <input type="file" class="form-control-file" (change)="uploadFile($event)" accept=".xls,.xlsx" id="uploadDocumentObjectSubject">
                                            <small id="uploadHelpBlock" class="form-text text-muted">
                                                File yang di upload harus berupa Ms.Excel (.xls .xlsx)
                                            </small>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="downloadFileTemplateObjekSubjek">Unduh file template</label>
                                    <button type="button" class="btn btn-outline-secondary pl-3">
                                        <img src="/images/ic_file_download_black_24dp_2x.png" class="img-fluid" alt="responsive image" width="32" height="32">
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Simpan</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<!-- end modal add new upload dokumen objek dan subjek table -->
<!-- Modal add new objek dan subjek table -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="Tambah data dengan isi form dokumen"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Form objek dan subjek TORA</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <form class="was-validated">

                        <ul class="nav nav-tabs tabObjectSubject" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="object-tab" data-toggle="tab" href="#formObject" role="tab" aria-controls="formObject" aria-selected="true">Form objek</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="subject-tab" data-toggle="tab" href="#formSubject" role="tab" aria-controls="formSubject" aria-selected="false">Form subjek</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="formObject" role="tabpanel" aria-labelledby="object-tab">

                                <h5 class="pt-3">Data Utama</h5>

                                <div class="form-row pt-2">
                                    <div class="form-group col-md-8">
                                        <label for="inputName">Nama lokasi</label>
                                        <input type="Text" class="form-control is-invalid" id="inputName" placeholder="Nama Lokasi" required [(ngModel)]="model.name"
                                            name="editName">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="ddlDesa">Desa</label>
                                        <select class="form-control" id="ddlDesa" required [(ngModel)]="model.fkRegionId" name="fkRegionId">
                                            <option value="">Pilih desa</option>
                                            <option *ngFor="let d of desa" [ngValue]="d.id">{{d.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="ddlKecamatan">Kecamatan</label>
                                        <select class="form-control" id="ddlKecamatan" required>
                                            <option value="">Pilih kecamatan</option>
                                            <option *ngFor="let k of kecamatan" [selected]="region.fkParentId == k.id" (change)="getDesa(k.id)">{{k.name}}</option>
                                        </select>
                                    </div>
                                    <div class="fieldset disabled form-group col-md-4">
                                        <label for="disabledSelect">Kabupaten</label>
                                        <select id="disabledSelect" class="form-control" disabled>
                                            <option>Sigi</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputSize">Luas wilayah objek</label>
                                        <input type="Text" class="form-control" id="inputSize" placeholder="Ha" required [(ngModel)]="model.size" name="editSize">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="ddlRegionalStatus">Status kawasan</label>
                                        <select class="form-control" id="ddlRegionalStatus" required [(ngModel)]="model.regionalStatus" name="regionalStatus">
                                            <option value="">Pilih status kawasan</option>
                                            <option value="0" [selected]="model.regionalStatus == 0">Hutan</option>
                                            <option value="1" [selected]="model.regionalStatus == 1">Non Hutan</option>
                                            <option value="2" [selected]="model.regionalStatus == 2">Lainnya</option>
                                        </select>
                                    </div>


                                </div>

                                <div class="form-row">

                                    <div class="form-group col-md-12">
                                        <label for="inputLandTye">Klasifikasi bentang lahan</label>
                                        <input type="Text" class="form-control" id="inputLandTye" placeholder="Perbukitan, pegunungan" required [(ngModel)]="model.landType"
                                            name="editLandType">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="inputLivelihood">Tipe penggunaan lahan</label>
                                        <textarea class="form-control" id="inputLivelihood" rows="3" placeholder="Tipe penggunaan lahan" required [(ngModel)]="model.livelihood"
                                            name="editLivelihood"></textarea>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="inputProposedTreatment">Usulan skema</label>
                                        <input type="Text" class="form-control" id="inputProposedTreatment" placeholder="TORA, Pelepasan Kawasan Hutan" required
                                            [(ngModel)]="model.proposedTreatment" name="editProposedTreatment">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="ddlStages">Tahapan</label>
                                        <select class="form-control" id="ddlStages" required [(ngModel)]="model.stages" name="stages">
                                            <option value="">Pilih tahapan</option>
                                            <option value="0" [selected]="model.regionalStatus == 0">Usulan</option>
                                            <option value="1" [selected]="model.regionalStatus == 1">Verifikasi</option>
                                            <option value="2" [selected]="model.regionalStatus == 2">Penetapan</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="uploadMapCoordinate">Unggah Koordinat PETA</label>
                                        <label class="custom-file">
                                            <input type="file" class="custom-file-input" id="uploadMapCoordinate" aria-describedby="uploadHelpBlock" required>
                                            <small id="uploadHelpBlock" class="form-text text-muted">
                                                File Ms.Excel (.xl .xls)
                                            </small>
                                            <span class="custom-file-control text-muted">Unggah PETA</span>
                                        </label>
                                    </div>

                                </div>

                                <hr>

                                <h5 class="pt-3">Data Pendukung</h5>

                                <div class="form-row pt-2">

                                    <div class="form-group col-md-4">
                                        <label for="ddlLandStatus">Status tanah</label>
                                        <select class="form-control" id="ddlLandStatus" required [(ngModel)]="model.landStatus" name="landStatus">
                                            <option value="">Pilih status tanah</option>
                                            <option value="0" [selected]="model.landStatus == 0">Negara</option>
                                            <option value="1" [selected]="model.landStatus == 1">Swasta</option>
                                            <option value="2" [selected]="model.landStatus == 2">Pemberian</option>
                                            <option value="3" [selected]="model.landStatus == 3">Warisan</option>
                                            <option value="4" [selected]="model.landStatus == 4">Lainnya</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-8 text-muted">
                                        <label for="inputAdditionalInfo">*Data tambahan</label>
                                        <input type="Text" class="form-control" id="inputAdditionalInfo" placeholder="data tambahan">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="inputLandTenureHistory">Sejarah penguasaan tanah</label>
                                        <textarea class="form-control" id="inputLandTenureHistory" rows="6" required [(ngModel)]="model.landTenureHistory" name="editLandTenureHistory"></textarea>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="inputChronologyConflict">
                                            Kronologi konflik
                                            <label class="text-muted">*(Jika ada)</label>
                                        </label>
                                        <textarea class="form-control" id="inputChronologyConflict" rows="3" [(ngModel)]="model.conflictChronology" name="editConflictChronology"></textarea>
                                    </div>

                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-12 mb-auto">
                                            <label for="progresLangkahAdvokasi">Progres langkah advokasi:</label>
                                        </div>

                                        <div class="form-group col-md-6 text-muted">
                                            <label for="inputFormalAdvocacyProgress">a. Formal</label>
                                            <textarea class="form-control" id="inputFormalAdvocacyProgress" rows="3" [(ngModel)]="model.formalAdvocacyProgress" name="editFormalAdvocacyProgress"></textarea>
                                        </div>

                                        <div class="form-group col-md-6 text-muted">
                                            <label for="inputNonFormalAdvocacyProgress">b. Non formal</label>
                                            <textarea class="form-control" id="inputNonFormalAdvocacyProgress" rows="3" [(ngModel)]="model.nonFormalAdvocacyProgress"
                                                name="editNonFormalAdvocacyProgress"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button type="button" class="btn btn-primary" (click)="addOrEditObject(model)" data-dismiss="modal">Simpan</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="formSubject" role="tabpanel" aria-labelledby="subject-tab">
                                <div class="form-row pt-2">

                                    <div class="form-group col-md-12" style="overflow:scroll; height:300px">
                                        
                                            <table class="table table-bordered table-striped table-sm table-subject table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Nama</th>
                                                        <th scope="col">Status pernikahan</th>
                                                        <th scope="col">Alamat</th>
                                                        <th scope="col">Jenis kelamin</th>
                                                        <th scope="col">Umur</th>
                                                        <th scope="col">Pendidikan</th>
                                                        <th scope="col">Jumlah keluarga</th>
                                                        <th scope="col">Status tanah</th>
                                                        <th scope="col">Lokasi lahan garapan</th>
                                                        <th scope="col">Luas (ha)</th>
                                                        <th scope="col">Jenis tanaman</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let subject of toraSubjects; let i = index">
                                                    <tr>
                                                        <th scope="row" id="">{{i + 1}}</th>
                                                        <td><font size="1">{{subject.name}}</font></td>
                                                        <td><font size="1">{{MaritalStatus[subject.maritalStatus]}}</font></td>
                                                        <td><font size="1">{{subject.address}}</font></td>
                                                        <td><font size="1">{{Gender[subject.gender]}}</font></td>
                                                        <td><font size="1">{{subject.age}}</font></td>
                                                        <td><font size="1">{{EducationalAttainment[subject.educationalAttainment]}}</font></td>
                                                        <td><font size="1">{{subject.totalFamilyMembers}}</font></td>
                                                        <td><font size="1">{{LandStatus[subject.landStatus]}}</font></td>
                                                        <td><font size="1">{{subject.landLocation}}</font></td>
                                                        <td><font size="1">{{subject.size}}</font></td>
                                                        <td><font size="1">{{subject.plantTypes}}</font></td>
                                                        <td>
                                                            <button type="button" class="btn btn-link">
                                                                <span class="oi oi-pencil" title="Edit" (click)="editSubject(subject)"></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button data-toggle="modal" data-target="#deleteModal" type="button" class="btn btn-link">
                                                                <span class="oi oi-trash" title="Delete" (click)="deleteSubject(subject.id)"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="Name">Nama</label>
                                        <input type="text" class="form-control" id="subjekName" aria-describedby="nameHelp" placeholder="Masukan Nama" [(ngModel)]="subjectModel.name" name="name">
                                        <small id="namelHelp" class="form-text text-muted"></small>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="status-pernikahan">Status pernikahan</label>
                                        <select id="inputState" class="form-control" [(ngModel)]="subjectModel.maritalStatus" name="maritalStatus">
                                            <option value="">Pilih status pernikahan</option>
                                            <option value="0" [selected]="model.maritalStatus == 0">Tidak Menikah</option>
                                            <option value="1" [selected]="model.maritalStatus == 1">Menikah</option>
                                            <option value="2" [selected]="model.maritalStatus == 2">Cerai</option>
                                            <option value="3" [selected]="model.maritalStatus == 3">Tidak Disebutkan</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="formSubjectAlamat">Alamat</label>
                                        <textarea class="form-control" id="formSubjectAlamat" rows="3" [(ngModel)]="subjectModel.address" name="address"></textarea>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="jenisKelamin">Jenis kelamin</label>
                                        <select id="inputState" class="form-control" [(ngModel)]="subjectModel.gender" name="gender">
                                            <option value="">Pilih jenis kelamin</option>
                                            <option value="0" [selected]="model.gender == 0">Pria</option>
                                            <option value="1" [selected]="model.gender == 1">Wanita</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="umur">Umur</label>
                                        <input type="text" class="form-control" id="formSubjectUmur" aria-describedby="umurHelp" placeholder="Masukan umur" [(ngModel)]="subjectModel.age" name="age">
                                        <small id="umurlHelp" class="form-text text-muted"></small>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="pendidikan">Pendidikan</label>
                                        <select id="inputState" class="form-control" [(ngModel)]="subjectModel.educationalAttainment" name="educationalAttainment">
                                            <option value="">Pilih jenjang pendidikan</option>
                                            <option value="0" [selected]="model.educationalAttainment == 0">Tidak Sekolah</option>
                                            <option value="1" [selected]="model.educationalAttainment == 1">SD dan Sederajat</option>
                                            <option value="2" [selected]="model.educationalAttainment == 2">SMP dan Sederajat</option>
                                            <option value="3" [selected]="model.educationalAttainment == 3">SMA dan Sederajat</option>
                                            <option value="4" [selected]="model.educationalAttainment == 4">S1 dan sederajat</option>
                                            <option value="5" [selected]="model.educationalAttainment == 5">S2 dan sederajat</option>
                                            <option value="6" [selected]="model.educationalAttainment == 6">S3 dan sederajat</option>
                                            <option value="7" [selected]="model.educationalAttainment == 7">Lainnya</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="jumlahAnggotaKeluarga">Jumlah keluarga</label>
                                        <input type="text" class="form-control" id="formSubjectAnggotaKeluarga" aria-describedby="anggotaKeluargaHelp" placeholder="Masukan jumlah keluarga" [(ngModel)]="subjectModel.totalFamilyMembers" name="totalFamilyMembers">
                                        <small id="pendidikanHelp" class="form-text text-muted"></small>
                                    </div>

                                    <div class="form-group col-md-8">
                                        <label for="statusTanah">Status tanah</label>
                                        <input type="text" class="form-control" id="formSubjectStatusTanah" aria-describedby="statusTanahHelp" placeholder="Masukan status tanah" [(ngModel)]="LandStatus[subjectModel.landStatus]" name="landStatus">
                                        <small id="statusTanahHelp" class="form-text text-muted"></small>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="lokasiLahanGarapan">Lokasi lahan garapan</label>
                                        <textarea class="form-control" id="formSubjectLokasiLahanGarapan" rows="3" [(ngModel)]="subjectModel.landLocation" name="landLocation"></textarea>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="Luas">Luas</label>
                                        <input type="text" class="form-control" id="formSubjectLuas" aria-describedby="luasHelp" placeholder="Luas" [(ngModel)]="subjectModel.size" name="size">
                                        <small id="statusTanahHelp" class="form-text text-muted"></small>
                                    </div>

                                    <div class="form-group col-md-8">
                                        <label for="Luas">Jenis tanaman</label>
                                        <input type="text" class="form-control" id="formSubjectJenisTanaman" aria-describedby="jenisTanamanHelp" placeholder="Masukan jenis tanaman" [(ngModel)]="subjectModel.plantTypes" name="plantTypes">
                                        <small id="jenisTanamanHelp" class="form-text text-muted"></small>
                                    </div>

                                    <div class="form-group col-md-8">
                                        <button type="button" class="btn btn-primary">Simpan data subjek</button>
                                        <button type="button" class="btn btn-secondary">Clear data</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Modal Body-->
        </div>
    </div>
</div>
<!-- END MODAL -->
<!-- alert delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="alert alert-light alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="form-row col-12">
                <div class="col-12">
                    <h3 class="alert-heading pb-4">Hapus data?</h3>
                </div>
            </div>
            <div class="nav justify-content-end pb-2 mt-4 mr-3">
                <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-danger" (click)="deleteObject()">Hapus</button>
            </div>
        </div>
    </div>
</div>
<!-- end alert delete modal -->