<div class="row">
    <div class="col-md-12 col-sm-12 card-padding agraria-issues-header">
        <ra-tora-header></ra-tora-header>
    </div>
    <div class="col-md-12 col-sm-12 card-padding">
        <div class="card w-100">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <tabset>
                    <tab heading="Data Objek">
                        <table class="table table-bordered table-responsive-sm bg-light my-3 table-object">
                            <caption>
                                <button type="button" class="btn btn-primary" title="Print" (click)="onExport()">
                                    <span class="oi oi-print" style="margin-right: 10px;"></span>Export
                                </button>
                                <button type="button" class="btn btn-primary" title="Edit" (click)="onShowToraObjectForm()">
                                    <span class="oi oi-pencil" style="margin-right: 10px;"></span>Ubah Objek
                                </button>
                            </caption>
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col" colspan="4">Informasi Umum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Nama Lokasi</td>
                                    <td colspan="2">{{toraObject?.name}}</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Desa</td>
                                    <td colspan="2">{{toraObject?.region?.name}}</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Kecamatan</td>
                                    <td colspan="2">{{toraObject?.region?.parent?.name}}</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Kabupaten</td>
                                    <td colspan="2">{{toraObject?.region?.parent?.parent?.name}}</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Luas Wilayah Objek</td>
                                    <td colspan="2">{{toraObject?.size}}</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Jumlah Penggarap</td>
                                    <td colspan="2">{{toraObject?.totalTenants}}</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Status Kawasan</td>
                                    <td colspan="2">
                                        {{toraObject?.regionalStatus ? (RegionalStatus[toraObject?.regionalStatus] | translate) : '-'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Klasifikasi bentang Lahan</td>
                                    <td colspan="2">
                                        {{toraObject?.landType | translate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Tipe Penggunaan Lahan</td>
                                    <td colspan="2">{{toraObject?.livelihood}}</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Usulan Skema</td>
                                    <td colspan="2">{{toraObject?.proposedTreatment}}</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Tahapan</td>
                                    <td colspan="2">
                                        {{toraObject?.status ? (Status[toraObject?.status] | translate) : '-'}}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col" colspan="4">Data Pendukung</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Status Tanah</td>
                                    <td colspan="2">
                                        {{toraObject?.landStatus ? (LandStatus[toraObject?.landStatus] | translate) : '-'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sejarah Penguasaan Tanah</td>
                                    <td colspan="2">{{toraObject?.landTenureHistory}}</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Kronologi Konflik</td>
                                    <td colspan="2">{{toraObject?.conflictChronology}}</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">4</td>
                                    <td rowspan="4">Progres Langkah Advokasi</td>
                                    <td rowspan="2">Jalur Formal: </td>
                                    <td rowspan="2">{{toraObject?.formalAdvocacyProgress}}</td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td rowspan="2">Non Formal: </td>
                                    <td rowspan="2">{{toraObject?.nonFormalAdvocacyProgress}}</td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </tab>
                    <tab heading="Data Subjek">
                        <table class="table table-bordered table-striped table-responsive-sm table-sm bg-light my-3 table-subject">
                            <caption>
                                <button type="button" class="btn btn-primary" title="Edit" (click)="onShowToraSubjectForm(null)">
                                    <span class="oi oi-pencil" style="margin-right: 10px;"></span>Tambah Subjek
                                </button>
                            </caption>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Status pernikahan</th>
                                    <th scope="col">Alamat</th>
                                    <th scope="col">Jenis kelamin</th>
                                    <th scope="col">Umur</th>
                                    <th scope="col">Pendidikan</th>
                                    <th scope="col">Jumlah keluarga</th>
                                    <th scope="col">Status tanah</th>
                                    <th scope="col">Lokasi lahan garapan</th>
                                    <th scope="col">Luas (ha)</th>
                                    <th scope="col">Jenis tanaman</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let toraSubject of toraSubjects; let i = index">
                                    <td scope="row">{{i + 1}}</td>
                                    <td>{{toraSubject?.name}}</td>
                                    <td>{{MaritalStatus[toraSubject?.maritalStatus] | translate}}</td>
                                    <td>{{toraSubject?.address}}</td>
                                    <td>{{Gender[toraSubject?.gender] | translate}}</td>
                                    <td>{{toraSubject?.age}}</td>
                                    <td>{{EducationalAttainment[toraSubject?.educationalAttainment] | translate}}</td>
                                    <td>{{toraSubject?.totalFamilyMembers}}</td>
                                    <td>{{LandStatus[toraSubject?.landStatus] | translate}}</td>
                                    <td>{{toraSubject?.landLocation}}</td>
                                    <td>{{toraSubject?.size | number : '1.2-2'}}</td>
                                    <td>{{toraSubject?.plantTypes}}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-link" title="Edit" (click)="onShowToraSubjectForm(toraSubject)">
                                            <span class="oi oi-pencil"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 card-padding map-navigation">
        <ra-tora-map></ra-tora-map>
    </div>
</div>