<div class="card w-100">
    <div class="card-body">
        <ng-container *ngIf="loading">
            <table width="100%">
                <tr>
                    <td colspan="12">
                        <div class="col-md-12">
                            <div id="loader"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </ng-container>
        <ng-container *ngIf="!loading">
            <div class="row" style="border-bottom:1px solid rgba(0, 0, 0, 0.2)">
                <div id="divProposal" (click)="onDivClicked('divProposal')" class="col-md-4 col-sm-6 col-xs-12 header-list-subject text-center clickable-div-2 active-div" style="cursor: pointer;">
                    <h2 class="display-4" style="color:#9F0080">{{totalProposedObjects | number}}</h2>
                    <p class="lead">Pengajuan</p>
                </div>
                <div id="divVerification" (click)="onDivClicked('divVerification')" class="col-md-4 col-sm-6 col-xs-12 header-list-object text-center clickable-div clickable-div-2" style="cursor: pointer;">
                    <h2 class="display-4" style="color:#FCB13F">{{totalVerifiedObjects | number}}</h2>
                    <p class="lead">Verifikasi</p>
                </div>
                <div id="divActualization" (click)="onDivClicked('divActualization')" class="col-md-4 col-sm-12 header-list-size text-center clickable-div clickable-div-2" style="cursor: pointer;">
                    <h2 class="display-4" style="color:#04BBBF">{{totalActualizedObject | number}}</h2>
                    <p class="lead">Penetapan</p>
                </div>
            </div>
            <div class="row" style="border-bottom:1px solid rgba(0, 0, 0, 0.2)">
                <div class="col-md-4 col-sm-6 col-xs-12 header-list-subject text-center">
                    <h2 class="display-4">{{totalSubjects | number}}</h2>
                    <p class="lead">Subjek</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 header-list-object text-center">
                    <h2 class="display-4">{{totalObjects | number}}</h2>
                    <p class="lead">Objek</p>
                </div>
                <div class="col-md-4 col-sm-12 header-list-size text-center">
                    <h2 class="display-4">{{totalSize ? (totalSize / 10000 | number : '1.2-2') : '0'}}</h2>
                    <p class="lead">Luas (ha)</p>
                </div>
            </div>
        </ng-container>
        <div class="row" style="padding-top:20px; padding-bottom:20px">
            <div class="col-md-6 text-center">
                <p class="lead">
                    TORA
                </p>
                <canvas id="toraChart"></canvas>
            </div>
            <div class="col-md-6 text-center">
                <p class="lead">
                    PS
                </p>
                <canvas id="psChart"></canvas>
            </div>
        </div>
    </div>
</div>