<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title"></h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 header-list-problem text-center">
                <h2 class="display-4">{{totalSubjects | number}}</h2>
                <p class="lead">Subjek</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 header-list-object text-center">
                <h2 class="display-4">{{totalObjects | number}}</h2>
                <p class="lead">Objek</p>
            </div>
            <div class="col-md-4 col-sm-12 header-list-large text-center">
                <h2 class="ml-3 display-4">{{totalSize | number}}
                    <small>ha</small>
                </h2>
                <p class="lead">Luas</p>
            </div>
        </div>
    </div>
</div>