<div class="card">
    <!-- <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Batas Desa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Objek TORA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Batas dan Objek</a>
            </li>
        </ul>
    </div> -->
    <div class="card-body">
        <div id="map" leaflet style="height: 561px; position: relative;" 
            [leafletOptions]="options" 
            [leafletCenter]="center" 
            [leafletZoom]="zoom"
            [leafletLayers]="layers"
            [leafletLayersControl]="layersControl"
            (leafletMapReady)="onMapReady($event)">
        </div>
    </div>
</div>

<div id="upload-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form class="form-horizontal" (ngSubmit)="onSubmitUploadForm()" id="upload-form">
            <div class="modal-content" style="border-radius: 0">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="close" (click)="clearModal()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row" style="padding-top:10px; padding-bottom:10px">
                            <div class="col-md-6">
                                <select class="form-control" [disabled]="region?.type !== RegionType.Kabupaten" [(ngModel)]="uploadModel.kecamatan" (ngModelChange)="onUploadFormChange($event, 'kecamatan')"
                                    name="kecamatan">
                                    <option [ngValue]="null">KECAMATAN</option>
                                    <option *ngFor="let kecamatan of kecamatanList" [ngValue]="kecamatan">{{kecamatan.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" [disabled]="region?.type === RegionType.Desa || !uploadModel.kecamatan || !desaList || desaList.length === 0"
                                    [(ngModel)]="uploadModel.desa" (ngModelChange)="onUploadFormChange($event, 'desa')" name="desa">
                                    <option [ngValue]="null">DESA</option>
                                    <option *ngFor="let desa of desaList" [ngValue]="desa">{{desa.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px; padding-bottom:10px">
                            <div class="col-md-6">
                                <select class="form-control" [disabled]="!uploadModel.desa || !toraObjectList || toraObjectList.length === 0" [(ngModel)]="uploadModel.tora"
                                    name="tora">
                                    <option [ngValue]="null">OBJEK TORA</option>
                                    <option *ngFor="let toraObject of toraObjectList" [ngValue]="toraObject">{{toraObject.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input id="file" accept=".zip,.rar,.7z" class="form-control" type="file" name="file" (change)="onSelectFile($event.target.files[0])" [disabled]="!uploadModel.tora">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-backdrop="false">
                        <i class="fa fa-repeat"></i>&nbsp;
                        <i class="fa fa-save"></i>Upload
                    </button>
                </div>
            </div>
        </form>
        <form class="form-horizontal" (ngSubmit)="onSubmitDownloadForm()" id="download-form">
            <div class="modal-content" style="border-radius: 0">
                <div class="modal-header">
                    <h5 class="modal-title">Download File</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row" style="padding-top:10px; padding-bottom:10px">
                            <div class="col-md-6">
                                <select class="form-control" [disabled]="region?.type !== RegionType.Kabupaten" [(ngModel)]="downloadModel.kecamatan" (ngModelChange)="onDownloadFormChange($event, 'kecamatan')"
                                    name="kecamatan">
                                    <option [ngValue]="null">KECAMATAN</option>
                                    <option *ngFor="let kecamatan of kecamatanList" [ngValue]="kecamatan">{{kecamatan.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" [disabled]="region?.type === RegionType.Desa || !downloadModel.kecamatan || !desaList || desaList.length === 0"
                                    [(ngModel)]="downloadModel.desa" (ngModelChange)="onDownloadFormChange($event, 'desa')" name="desa">
                                    <option [ngValue]="null">DESA</option>
                                    <option *ngFor="let desa of desaList" [ngValue]="desa">{{desa.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px; padding-bottom:10px">
                            <div class="col-md-6">
                                <select class="form-control" [disabled]="!downloadModel.desa || !toraMapList || toraMapList.length === 0" [(ngModel)]="downloadModel.tora"
                                    name="tora">
                                    <option [ngValue]="null">FILE</option>
                                    <option *ngFor="let toraMap of toraMapList" [ngValue]="toraMap">{{toraMap.id}}.zip</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-backdrop="false">
                        <i class="fa fa-repeat"></i>&nbsp;
                        <i class="fa fa-save"></i>Download
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>