<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">Permasalahan Agraria di {{ region?.name }}</h4>
        <div class="pt-2">
            <table class="table table-hover table-sm" id="table-region">
                <thead>
                    <tr>
                        <th (click)="sort('region.name')" style="cursor: pointer;">
                            {{ region?.name }}
                            <ng-container *ngIf="order.includes('region.name')">
                                <span [hidden]="order.startsWith('-')">▲</span>
                                <span [hidden]="!order.startsWith('-')">▼</span>
                            </ng-container>
                        </th>
                        <th (click)="sort('totalSize')" style="cursor: pointer;" class="text-right">
                            Luas (ha)
                            <ng-container *ngIf="order.includes('totalSize')">
                                <span [hidden]="order.startsWith('-')">▲</span>
                                <span [hidden]="!order.startsWith('-')">▼</span>
                            </ng-container>
                        </th>
                        <th (click)="sort('totalToraObjects')" style="cursor: pointer;" class="text-right">
                            Total Objek
                            <ng-container *ngIf="order.includes('totalToraObjects')">
                                <span [hidden]="order.startsWith('-')">▲</span>
                                <span [hidden]="!order.startsWith('-')">▼</span>
                            </ng-container>
                        </th>
                        <th (click)="sort('totalToraSubjects')" style="cursor: pointer;" class="text-right">
                            Total Subjek
                            <ng-container *ngIf="order.includes('totalToraSubjects')">
                                <span [hidden]="order.startsWith('-')">▲</span>
                                <span [hidden]="!order.startsWith('-')">▼</span>
                            </ng-container>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="loading">
                        <tr>
                            <td colspan="12">
                                <div class="col-md-12">
                                    <div id="loader"></div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="!loading">
                        <tr *ngFor="let summary of summaries | orderBy: order">
                            <td class="text-left">
                                <a [routerLink]="['/home', convertRegionId(summary.region.id)]" href="javascript:void(0)">{{summary.region.name}}</a>
                            </td>
                            <td class="table-data-padding text-right">{{summary.totalSize > 0 ? (summary.totalSize | number) : '-'}}</td>
                            <td class="text-right">{{summary.totalToraObjects}}</td>
                            <td class="text-right">{{summary.totalToraSubjects}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>