<div class="card">   
    <div class="card-body">
        <ul class="nav nav-tabs"nav>
            <li id="toraMap" class="nav-item"><a id="tabTora" class="nav-link active" href="javascript:void(0)" (click)="onTabClicked('toraMap');">Peta Tora</a></li>
            <li id="villageBorderMap" class="nav-item"><a id="tabVillageBorder" class="nav-link" href="javascript:void(0)" (click)="onTabClicked('villageBorderMap');">Peta Batas Desa</a></li>
        </ul>
        <div id="map" leaflet style="height: 561px; position: relative;" 
            [leafletOptions]="options" 
            [leafletCenter]="center" 
            [leafletZoom]="zoom"
            [leafletLayers]="layers"
            [leafletLayersControl]="layersControl"
            (leafletMapReady)="onMapReady($event)">
        </div>
    </div>
</div>