<div class="row">
    <hr />
    <div class="col-md-12 col-sm-12 card-padding agraria-issues-header">
        <ra-tora-header></ra-tora-header>
    </div>
    <div class="col-md-12 col-sm-12 card-padding">
        <tabset>
            <tab heading="Data Objek">
                <div class="bg-light">
                    <table class="table table-bordered table-responsive bg-light my-3 table-object">
                        <caption>
                            <button type="button" class="btn btn-primary" title="Print">
                                <span class="oi oi-print" style="margin-right: 10px;"></span>Print</button>
                        </caption>
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col" colspan="4">Informasi Umum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td scope="row" colspan="1">Nama Lokasi</td>
                                <td colspan="2">{{toraObject?.name}}</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Desa</td>
                                <td colspan="2">Desa</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Kecamatan</td>
                                <td colspan="2">Kecamatan</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Kabupaten/Provinsi</td>
                                <td colspan="2">Kabupaten/Provinsi</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Luas Wilayah Objek</td>
                                <td colspan="2">{{toraObject?.size}}</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Jumlah Penggarap</td>
                                <td colspan="2">{{toraObject?.totalTenants}}</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Status Kawasan</td>
                                <td colspan="2">{{RegionalStatus[toraObject?.regionalStatus]}}</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>Klasifikasi bentang Lahan</td>
                                <td colspan="2">{{toraObject?.landType}}</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>Tipe Penggunaan Lahan</td>
                                <td colspan="2">{{toraObject?.livelihood}}</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>Usulan Skema</td>
                                <td colspan="2">{{toraObject?.proposedTreatment}}</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>Tahapan</td>
                                <td colspan="2">Tahapan</td>
                            </tr>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col" colspan="4">Data Pendukung</th>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Status Tanah</td>
                                <td colspan="2">{{LandStatus[toraObject?.landStatus]}}</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Sejarah Penguasaan Tanah</td>
                                <td colspan="2">{{toraObject?.landTenureHistory}}</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Kronologi Konflik</td>
                                <td colspan="2">{{toraObject?.conflictChronology}}</td>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="4">4</th>
                                <td rowspan="4">Progres Langkah Advokasi</td>
                                <td rowspan="2">Jalur Formal: </td>
                                <td rowspan="2">{{toraObject?.formalAdvocacyProgress}}</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td rowspan="2">Non Formal: </td>
                                <td rowspan="2">{{toraObject?.nonFormalAdvocacyProgress}}</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Koordinat peta</td>
                                <td colspan="2">isi koordinat peta</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Data Subjek">
                <table class="table table-bordered table-responsive table-striped table-sm bg-light my-3 table-subject">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Status pernikahan</th>
                            <th scope="col">Alamat</th>
                            <th scope="col">Jenis kelamin</th>
                            <th scope="col">Umur</th>
                            <th scope="col">Pendidikan</th>
                            <th scope="col">Jumlah keluarga</th>
                            <th scope="col">Status tanah</th>
                            <th scope="col">Lokasi lahan garapan</th>
                            <th scope="col">Luas (ha)</th>
                            <th scope="col">Jenis tanaman</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let toraSubject of toraSubjects; let i = index">
                            <td scope="row">{{i + 1}}</td>
                            <td>{{toraSubject?.name}}</td>
                            <td>{{MaritalStatus[toraSubject?.maritalStatus]}}</td>
                            <td>{{toraSubject?.address}}</td>
                            <td>{{Gender[toraSubject?.gender]}}</td>
                            <td>{{toraSubject?.age}}</td>
                            <td>{{EducationalAttainment[toraSubject?.educationalAttainment]}}</td>
                            <td>{{toraSubject?.totalFamilyMembers}}</td>
                            <td>{{LandStatus[toraSubject?.landStatus]}}</td>
                            <td>{{toraSubject?.landLocation}}</td>
                            <td>{{toraSubject?.size | number}}</td>
                            <td>{{toraSubject?.plantTypes}}</td>
                        </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>
    <hr />
</div>