<ra-header></ra-header>
<div class="container-fluid">
    <div class="row">
        <ra-sidenav></ra-sidenav>
        <main class="col-sm-9 col-md-10 ml-sm-auto pt-4" role="main">
            <div class="card w-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex card-title" style="justify-content: space-between;">
                                <h2>Manajemen Akun</h2>
                                <div class="nav justify-content-end my-2 mr-3">
                                    <button type="button" class="btn btn-outline-primary" title="Tambah Akun" (click)="onShowAddUser(addUserModal)">
                                        <span class="oi oi-plus"></span>
                                    </button>
                                </div>
                            </div>
                            <table class="table table-responsive-sm table-sm tableAccount">
                                <thead>
                                    <tr>
                                        <th>Nama</th>
                                        <th>Email</th>
                                        <th colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{user.fullName}}</td>
                                        <td>{{user.email}}</td>
                                        <td span="2">
                                            <div class="dropdown show">
                                                <button class="btn btn-link dropdown-toggle" title="Ubah Email atau Password" role="button" id="dropdownEditLink" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <span class="oi oi-pencil"></span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownEditLink">
                                                    <button class="dropdown-item" type="button" (click)="onShowEditEmail(editEmailModal, user)">Ubah Email</button>
                                                    <button class="dropdown-item" type="button" (click)="onShowEditPassword(editPasswordModal, user)">Ubah Password</button>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-link" title="Hapus" (click)="onDeleteUser(user)">
                                                <span class="oi oi-x"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- modal addUser -->
<ng-template #addUserModal>
    <form [formGroup]="addUserForm" (submit)="!addUserForm.invalid && addUser()">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tambah Pengguna</h5>
            <button type="button" class="close" aria-label="Close" (click)="addUserModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="email">Nama</label>
                        <input type="text" class="form-control" formControlName="fullName" name="name" placeholder="Nama" 
                            autocomplete="off" [ngClass]="{'is-invalid': fullNameControl.invalid}">
                        <div class="invalid-feedback" *ngIf="fullNameControl.errors?.required">Nama diperlukan</div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" formControlName="email" name="email" placeholder="Email" 
                            autocomplete="off" [ngClass]="{'is-invalid': emailControl.invalid}">
                        <div class="invalid-feedback" *ngIf="emailControl.errors?.required">Email diperlukan</div>
                        <ng-container *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
                            <div class="invalid-feedback" *ngIf="emailControl.errors.email">Email tidak valid</div>
                        </ng-container>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" formControlName="password" name="password" placehoder="Password"
                            autocomplete="off" [ngClass]="{'is-invalid': passwordControl.invalid}">
                        <div class="invalid-feedback" *ngIf="passwordControl.errors?.required">Password diperlukan</div>
                        <ng-container *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
                            <div class="invalid-feedback" *ngIf="passwordControl.errors?.minlength">Password terlalu pendek (min 5)</div>
                        </ng-container>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="confirmPassword">Konfirmasi Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Konfirmasi password"
                            autocomplete="off" [ngClass]="{'is-invalid': confirmPasswordControl.invalid}">
                        <div class="invalid-feedback" *ngIf="confirmPasswordControl.errors?.required">Konfirmasi Password diperlukan</div>
                        <div class="invalid-feedback" *ngIf="confirmPasswordControl.errors?.match">Password dan konfirmasi tidak sama</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="addUserModalRef.hide()">Tutup</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
</ng-template>
<!-- end modal addUser -->

<!-- start modal change email -->
<ng-template #editEmailModal>
    <form [formGroup]="editEmailForm" (submit)="!editEmailForm.invalid && updateUserEmail()">
        <div class="modal-header">
            <h5 class="modal-title">Ganti email</h5>
            <button type="button" class="close" aria-label="Close" (click)="editEmailModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12">
                <div class="form-group col-md-12">
                    <label for="newEmail">Email</label>
                    <input type="text" class="form-control" formControlName="newEmail" name="newEmail" placeholder="Masukkan email baru anda"
                        autocomplete="off" [ngClass]="{'is-invalid': newEmailControl.invalid}">
                    <div class="invalid-feedback" *ngIf="newEmailControl.errors?.required">Email diperlukan</div>
                    <ng-container *ngIf="newEmailControl.invalid && (newEmailControl.dirty || newEmailControl.touched)">
                        <div class="invalid-feedback" *ngIf="newEmailControl.errors.email">Email tidak valid</div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="editEmailModalRef.hide()">Tutup</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
</ng-template>
<!-- end modal change email -->

<!-- start modal change password -->
<ng-template #editPasswordModal>
    <form [formGroup]="editPasswordForm" (submit)="!editPasswordForm.invalid && updateUserPassword()">
        <div class="modal-header">
            <h5 class="modal-title">Ganti password</h5>
            <button type="button" class="close" aria-label="Close" (click)="editPasswordModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-12">
                <div class="form-group">
                    <label for="newPassword">Password Baru</label>
                    <input type="password" class="form-control" formControlName="newPassword" name="newPassword" placehoder="Password"
                        autocomplete="off" [ngClass]="{'is-invalid': newPasswordControl.invalid}">
                    <div class="invalid-feedback" *ngIf="newPasswordControl.errors?.required">Password diperlukan</div>
                    <ng-container *ngIf="newPasswordControl.invalid && (newPasswordControl.dirty || newPasswordControl.touched)">
                        <div class="invalid-feedback" *ngIf="newPasswordControl.errors?.minlength">Password terlalu pendek (min 5)</div>
                    </ng-container>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Konfirmasi Password Baru</label>
                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Konfirmasi password"
                        autocomplete="off" [ngClass]="{'is-invalid': confirmNewPasswordControl.invalid}">
                    <div class="invalid-feedback" *ngIf="confirmNewPasswordControl.errors?.required">Konfirmasi Password diperlukan</div>
                    <div class="invalid-feedback" *ngIf="confirmNewPasswordControl.errors?.match">Password dan konfirmasi tidak sama</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="editPasswordModalRef.hide()">Tutup</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
</ng-template>
<!-- end modal change password -->