<ra-header></ra-header>
<div class="container-fluid">
    <div class="row">
        <ra-sidenav></ra-sidenav>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            <div class="container body-content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div *ngIf="isListUserShown">
                                <h3 class="card-title">Akun Manajemen</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nama</th>
                                            <th>Email</th>
                                            <th></th>
                                            <th><button type="button" class="btn btn-primary btn-block" (click)="showAddUser()">+</button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of allUsers">
                                            <td>Nama</td>
                                            <td>{{user.email}}</td>
                                            <td><a (click)="showEditUser(user.id, user.email)" href="javascript:void(0)">Ubah Email atau Password</a></td>
                                            <td><a (click)="deleteUser(user.id)" href="javascript:void(0)">Hapus</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                    <div *ngIf="isRegisterShown">
                        <div class="row">
                            <div class="col-12 col-md-offset-4">
                                <h4>Tambah Pengguna</h4>
                                <ra-alert></ra-alert>
                                <form name="form">
                                    
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" name="email" [(ngModel)]="model.Email" #email="ngModel" required />
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" name="password" placeholder="password"[(ngModel)]="model.Password" #password="ngModel" required />
                                        </div>

                                        <div class="form-group col-md-6">    
                                            <label for="password1">Ulangi Password</label>
                                            <input type="password1" class="form-control" name="password" placeholder="Password" required>
                                        </div>
                                    </div>
                             

                                    <div class="form-group row">
                                        <div class="col-6 col-md-2 col-sm-4 col-xs-12">
                                        <button type="button" class="btn btn-primary btn-block" (click)="addUser()">Tambah</button>
                                        </div>
                                        <div class="col-6 col-md-2 col-sm-4 col-xs-12">
                                        <button type="button" class="btn btn-danger btn-block" (click)="showListUser()">Batal</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isEditShown">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <h2>Ubah Pengguna</h2>
                                <ra-alert></ra-alert>
                                <form name="form" novalidate>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="oldEmail" [(ngModel)]="model.oldEmail" #oldEmail="ngModel" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="newEmail">Email</label>
                                        <input type="text" class="form-control" name="newEmail" [(ngModel)]="model.newEmail" #newEmail="ngModel" required />
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" (click)="updateUser()">Ubah</button>
                                        <button type="button" class="btn btn-primary" (click)="showListUser()">Batal</button>
                                        <button type="button" class="btn btn-primary" (click)="showChangePassword()">Ganti Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isChangePasswordShown">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <h2>Ganti Password</h2>
                                <ra-alert></ra-alert>
                                <form name="form">
                                    <div class="form-group">
                                        <label for="currentPassword">Password Lama</label>
                                        <input type="password" class="form-control" name="currentPassword" [(ngModel)]="model.currentPassword" #password="ngModel" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword">Password Baru</label>
                                        <input type="password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #password="ngModel" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Konfirmasi Password Baru</label>
                                        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #password="ngModel" required />
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" (click)="changePassword()">Ganti</button>
                                        <button type="button" class="btn btn-primary" (click)="showEditUser(model.id, model.oldEmail)">Batal</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>


            </div>
        </main>
    </div>
</div>
