<div class="" style="display: none;">
<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">Table Batas Desa</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Usulan</th>
                        <th>Verifikasi</th>
                        <th>Penetapan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>lorem</td>
                        <td>2037 ha</td>
                        <td class="verifikasi">
                            <span class="oi oi-caret-top" aria-hidden="true"></span> 2037 ha</td>
                        <td class="penetapan">
                            <span class="oi oi-caret-right" aria-hidden="true"></span> 2034 ha</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>