{
  "ConnectionStrings": {
    "DefaultConnection": "Server=database.neon.microvac;Port=5094;Database=reforma_agraria;User Id=postgres;Password=postgres"
  },
  "Security": {
    "SecretKey": "microvacmicrovac"
  },
  "Email": {
    "EmailAddress": "sinavraps@gmail.com",
    "Password": "admin.sinavraps",
    "DisplayName": "Reforma Agraria (no reply)"
  }
}
